@import 'styles/variables';

.btn {
  width: 200px;
  border: solid 1px rgba(0, 0, 0, 0.12);
  background-color: rgba(98, 2, 238, 0);
  text-transform: uppercase;

  &__not {
    width: 262px;
    color: #142c63 !important;
    margin: 5% !important;
  }
  &__delete {
    width: 262px;
    height: 16px;
    color: #ffffff !important;
  }
}

:host {
  text-align: center;
  display: block;
}

.icon {
  color: #8cc640;
  font-size: 50px;
  margin-bottom: 40px;
  margin-top: 50px;
  width: 50px;
  height: 50px;
}

.text {
  font-family: Raleway;
  font-size: 14.2px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 500;
  line-height: 1.69;
  letter-spacing: 0.1px;
  text-align: center;
  color: rgba(0, 0, 0, 0.87) !important;
  margin: 0 auto 20px;
}

.custom-botton {
  height: 45px !important;
  font-family: Raleway;
  font-size: 14.2px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: 1.25px;
  text-align: center;
  border-radius: 11px !important;
  border: solid 1px rgba(0, 0, 0, 0.12) !important;
}
