<contler-toolbar (toggle)="sidenav.toggle()"></contler-toolbar>
<mat-sidenav-container>
  <mat-sidenav mode="over" #sidenav>
    <contler-menu></contler-menu>
  </mat-sidenav>

  <div style="padding: 0 51px">
    <div class="calendar-menu">
      <button mat-raised-button color="accent" routerLink="/home/reservation" contlerBtnHotel="primary">
        {{ 'calendar.zones' | translate }}
      </button>
      <mat-form-field appearance="fill">
        <mat-select [(ngModel)]="zone">
          <mat-option [value]="null">{{ 'calendar.all' | translate }}</mat-option>
          <mat-option *ngFor="let zone of zones$ | async" [value]="zone">
            {{ zone.name | ctrTranslate }}
          </mat-option>
        </mat-select>
        <mat-hint>{{ 'calendar.zone' | translate }}</mat-hint>
      </mat-form-field>
      <button mat-raised-button contlerBtnHotel="primary" (click)="createManualReservation()">
        {{ 'reservation.manualCreation' | translate }}
      </button>
    </div>

    <div class="calendar">
      <div style="text-align: center">
        <h3 class="cnt-title" contlerColorHotel="primary">
          {{ viewDate | calendarDate: view + 'ViewTitle':lang | titlecase }}
        </h3>

        <button
          mat-icon-button
          contlerCalendarPreviuosView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
        >
          <mat-icon class="calendar__icon">navigate_before</mat-icon>
        </button>
        <button
          mat-icon-button
          contlerCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
        >
          <mat-icon class="calendar__icon">navigate_next</mat-icon>
        </button>
      </div>

      <mwl-calendar-month-view
        [locale]="lang"
        [viewDate]="viewDate"
        [events]="convertBooking(booking$ | async | zoneBook: zone)"
        [activeDayIsOpen]="activeDayIsOpen"
        (dayClicked)="dayClicked($event)"
      ></mwl-calendar-month-view>
    </div>
  </div>
</mat-sidenav-container>
