<contler-toolbar (toggle)="sidenav.toggle()"></contler-toolbar>
<mat-sidenav-container>
  <mat-sidenav mode="over" #sidenav>
    <contler-menu></contler-menu>
  </mat-sidenav>

  <div style="padding: 0 51px">
    <div class="calendar-menu">
      <button mat-raised-button color="accent" routerLink="/home/reservation">Zonas</button>
      <mat-form-field appearance="fill">
        <mat-select [(ngModel)]="zone">
          <mat-option [value]="null">Todos</mat-option>
          <mat-option *ngFor="let zone of zones$ | async" [value]="zone">{{ zone.name }}</mat-option>
        </mat-select>
        <mat-hint>Zona</mat-hint>
      </mat-form-field>
    </div>

    <div class="calendar">
      <div style="text-align: center">
        <button
          mat-icon-button
          contlerCalendarPreviuosView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
        >
          <mat-icon class="calendar__icon">navigate_before</mat-icon>
        </button>
        <button
          mat-icon-button
          contlerCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
        >
          <mat-icon class="calendar__icon">navigate_next</mat-icon>
        </button>
      </div>

      <mwl-calendar-month-view
        [viewDate]="viewDate"
        [events]="convertBooking(booking$ | async | zoneBook: zone)"
        [refresh]="refresh"
        [activeDayIsOpen]="activeDayIsOpen"
        (dayClicked)="dayClicked($event)"
      ></mwl-calendar-month-view>
    </div>
  </div>
</mat-sidenav-container>
