@import 'styles/variables';

.calendar {
  margin-top: 20px;

  &-menu {
    margin-top: 20px;
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
    & > * {
      margin-left: 10px;
    }
  }

  &__icon {
    padding: 10px 10px 14px;
    cursor: pointer;
    color: $lighterIcon;
    &__month {
      padding: 10px;
    }
  }
}
