$gap: 20px;

:host {
  display: block;
}

.host {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 0 calc(-1 * #{$gap}) calc(-1 * #{$gap});
  & > * {
    margin: 0 0 $gap $gap;
  }
}
