<ion-content>
  <div class="main-container">
    <div class="language">
      <div class="custom_icon">{{ actualLanguage.unicode }}</div>
      <mat-select required [(ngModel)]="actualLanguage" (selectionChange)="changeLanguage()">
        <mat-option *ngFor="let language of languages" [value]="language">
          <p class="label">{{ language.name }}</p>
        </mat-option>
      </mat-select>
    </div>
    <img src="assets/img/logo.svg" class="main-container__logo" />
    <p class="main-container__label">{{'login.message' | translate}}</p>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <mat-form-field appearance="fill">
        <input matInput formControlName="email" />
        <mat-icon class="custom-icon" matSuffix>account_circle</mat-icon>
        <mat-hint>{{'login.user' | translate}}</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <input type="password" matInput formControlName="pass" />
        <mat-icon class="custom-icon" matSuffix>check_circle</mat-icon>
        <mat-hint>{{'login.password' | translate}}</mat-hint>
      </mat-form-field>
      <p class="main-container__forgot-password">{{'login.forgot' | translate}}</p>
      <button class="custom-button" mat-raised-button [disabled]="loginForm.invalid" color="accent">
        {{'login.enterBtn' | translate}}
      </button>
    </form>
  </div>
</ion-content>
