<div class="cnt-qualify" *ngIf="data">
  <img src="assets/img/rating.svg" alt="" class="cnt-qualify__img" />
  <p class="cnt-qualify__title">
    {{ 'modalQualifyComponent.title' | translate }} {{ data.message }}
    {{ 'modalQualifyComponent.on' | translate }} {{ data.zone.name }}
    {{ 'modalQualifyComponent.day' | translate }} {{ data.createAt | date: 'dd/MM/yyyy' }}?
  </p>

  <contler-start
    value="0"
    totalstars="5"
    checkedcolor="#dfae00"
    uncheckedcolor="#6c6c6c"
    size="24px"
    readonly="false"
    (rate)="selectStart($event)"
  ></contler-start>

  <p class="cnt-qualify__info" *ngIf="value !== undefined">
    {{ 'modalQualifyComponent.' + textRate[value - 1] | translate }} {{ value }}/5
  </p>
  <mat-form-field appearance="fill" class="full_width cnt-qualify__input">
    <input matInput [(ngModel)]="comment" />
    <mat-hint>tell us more</mat-hint>
  </mat-form-field>
  <button
    mat-raised-button
    color="accent"
    class="cnt-qualify__btn"
    contlerButton
    contlerColorBtnHotel="primary"
    [loading]="load"
    [disabled]="!!!value || load"
    (click)="close()"
  >
    {{ 'modalQualifyComponent.qualify' | translate }}
  </button>
</div>
