<div class="cnt-qualify" *ngIf="data">
  <img src="assets/img/rating.svg" alt="" class="cnt-qualify__img" />
  <p class="cnt-qualify__title">
    How did you find the service our team provided in your application {{ data.message }} on
    {{ data.zone.name }} day {{ data.createAt | date: 'dd/MM/yyyy' }}.
  </p>

  <contler-start
    value="0"
    totalstars="5"
    checkedcolor="#dfae00"
    uncheckedcolor="#6c6c6c"
    size="24px"
    readonly="false"
    (rate)="selectStart($event)"
  ></contler-start>

  <p class="cnt-qualify__info" *ngIf="value !== undefined">
    {{ textRate[value - 1] }} {{ value }}/5
  </p>
  <mat-form-field appearance="fill" class="full_width cnt-qualify__input">
    <input matInput [(ngModel)]="comment" />
    <mat-hint>Cuéntanos un poco más</mat-hint>
  </mat-form-field>
  <button
    mat-raised-button
    color="accent"
    class="cnt-qualify__btn"
    contlerButton
    contlerColorBtnHotel="primary"
    [loading]="load"
    [disabled]="!!!value || load"
    (click)="close()"
  >
    qualify
  </button>
</div>
