<h1 class="cnt-title title">{{ 'reservation.title' | translate }}</h1>
<form class="reservation-form" [formGroup]="zoneForm" (ngSubmit)="complete()">
  <mat-form-field appearance="fill">
    <input matInput formControlName="name" />
    <mat-hint>{{ 'reservation.labelName' | translate }}</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-select formControlName="category">
      <mat-option *ngFor="let category of categoryZone | async" [value]="category">
        {{ category.name | translate }}
      </mat-option>
    </mat-select>
    <mat-hint>{{ 'reservation.labelCategory' | translate }}</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-select formControlName="icon">
      <mat-option *ngFor="let icon of icons" [value]="icon">
        <mat-icon>{{ icon }}</mat-icon>
      </mat-option>
    </mat-select>
    <mat-hint>{{ 'reservation.labelIcon' | translate }}</mat-hint>
  </mat-form-field>

  <button
    mat-raised-button
    color="accent"
    contlerButton
    style="width: 217px"
    [loading]="load"
    [disabled]="load || zoneForm.invalid"
  >
    {{ 'reservation.createButton' | translate }}
  </button>
</form>
