<table mat-table [dataSource]="dataSource" class="table">
  <ng-container matColumnDef="userName">
    <th mat-header-cell *matHeaderCellDef>{{ 'immediateRequest.nameTable' | translate }}</th>
    <td mat-cell *matCellDef="let element">{{ element.guest?.name }} {{ element.guest?.lastName }}</td>
  </ng-container>
  <ng-container matColumnDef="zone">
    <th mat-header-cell *matHeaderCellDef>{{ 'immediateRequest.zoneTable' | translate }}</th>
    <td mat-cell *matCellDef="let element">{{ element.zone?.name | ctrTranslate }}</td>
  </ng-container>
  <ng-container matColumnDef="room">
    <th mat-header-cell *matHeaderCellDef>{{ 'immediateRequest.roomTable' | translate }}</th>
    <td mat-cell *matCellDef="let element">{{ element.guest?.hotelBooking?.room?.name | ctrTranslate }}</td>
  </ng-container>
  <ng-container matColumnDef="message">
    <th mat-header-cell *matHeaderCellDef>{{ 'immediateRequest.messageTable' | translate }}</th>
    <td mat-cell *matCellDef="let element">{{ element.message | translate | ctrTranslate }}</td>
  </ng-container>
  <ng-container matColumnDef="created_at">
    <th mat-header-cell *matHeaderCellDef>{{ 'immediateRequest.timeTable' | translate }}</th>
    <td mat-cell *matCellDef="let element">{{ element.createAt | date: 'HH:mm' }}</td>
  </ng-container>
  <ng-container matColumnDef="employerName">
    <th mat-header-cell *matHeaderCellDef>{{ 'immediateRequest.employerTable' | translate }}</th>
    <td mat-cell *matCellDef="let element">{{ element.assigned?.name }}</td>
  </ng-container>
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>{{ 'immediateRequest.stateTable' | translate }}</th>
    <td mat-cell *matCellDef="let element">
      <contler-status-icon [status]="!element.active"></contler-status-icon>
    </td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>&nbsp;</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button (click)="update(element)">
        <mat-icon class="custom_icon">remove_red_eye</mat-icon>
      </button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<mat-paginator [pageSizeOptions]="[10, 40, 100]" showFirstLastButtons></mat-paginator>
