.contler-login {
  width: 460px;
  text-align: center;
  margin: auto;
  padding-top: 147px;
  &__logo {
    width: 130px;
    margin-bottom: 45px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    margin-top: 44px;
    .mat-form-field {
      margin-bottom: 20px;
    }

    .button {
      width: 217px;
      display: block;
      margin: auto;
    }

    &__link {
      margin-bottom: 19px;
    }
  }
}
.languages {
  position: absolute;
  top: 20px;
  right: 20px;
}
