<div class="contler-login">
  <img src="assets/img/logo.svg" alt="" />
  <form class="contler-login__form" [formGroup]="loginForm" (ngSubmit)="login()">
    <mat-form-field appearance="fill">
      <input matInput placeholder="user@company.com" formControlName="email" />
      <mat-icon matSuffix>account_circle</mat-icon>
      <mat-hint>Usuario 6</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <input matInput placeholder="123456" type="password" formControlName="pass" />
      <mat-icon matSuffix>check_circle</mat-icon>
      <mat-hint>Contrseña</mat-hint>
    </mat-form-field>

    <a class="contler-login__form__link">Olvidaste tu contraseña?</a>
    <button mat-raised-button color="accent" class="button" [disabled]="loginForm.invalid">
      Ingresar
    </button>
  </form>
</div>
