<div class="content">
  <mat-form-field appearance="fill" class="custom-filed">
    <mat-select [(ngModel)]="timeSelect">
      <mat-option *ngFor="let food of time; let i = index" [value]="getHour(i)">
        {{ getHour(i) | date: 'shortTime' }}
      </mat-option>
    </mat-select>
    <mat-hint>{{ 'createLate.departureTime' | translate }}</mat-hint>
  </mat-form-field>

  <button
    class="content__btn-create"
    mat-raised-button
    contlerButton
    contlerColorBtnHotel="primary"
    color="accent"
    (click)="create()"
  >
    {{ 'createLate.create' | translate }}
  </button>
</div>
