<div class="content">
  <mat-form-field appearance="fill" class="custom-filed">
    <mat-select [(ngModel)]="timeSelect">
      <mat-option *ngFor="let food of time; let i = index" [value]="getHour(i)">
        {{ getHour(i) | date: 'shortTime' }}
      </mat-option>
    </mat-select>
    <mat-hint>Departure time</mat-hint>
  </mat-form-field>

  <button
    class="content__btn-create"
    mat-raised-button
    contlerButton
    color="accent"
    [style]="getColorButtonHotel()"
    (click)="create()"
  >
    Create
  </button>
</div>
