<h1 class="cnt-title title">{{ 'subZone.title' | translate }}</h1>
<form class="reservation-form" [formGroup]="subZoneForm" (ngSubmit)="complete()">
  <div class="reservation-form__is-service">
    <p class="reservation-form__is-service__label">¿Es un servicio de la zona?</p>
    <div class="reservation-form__is-service__toggle">
      <span>No</span>
      <mat-slide-toggle
        (change)="hiddenSubZoneForm.emit($event.checked)"
        [checked]="subZoneFormValue"
      ></mat-slide-toggle>
      <span>Si</span>
    </div>
  </div>
  <mat-form-field appearance="fill">
    <input matInput formControlName="name" />
    <mat-hint>{{ 'subZone.labelName' | translate }}</mat-hint>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-select formControlName="zoneParent">
      <mat-option *ngFor="let zone of zoneReservations" [value]="zone">
        {{ zone.name | ctrTranslate }}
      </mat-option>
    </mat-select>
    <mat-hint>{{ 'subZone.labelZone' | translate }}</mat-hint>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-select formControlName="icon">
      <mat-option *ngFor="let icon of icons" [value]="icon">
        <mat-icon>{{ icon }}</mat-icon>
      </mat-option>
    </mat-select>
    <mat-hint>{{ 'reservation.labelIcon' | translate }}</mat-hint>
  </mat-form-field>

  <button
    mat-raised-button
    color="accent"
    contlerButton
    style="width: 220px"
    [loading]="load"
    [disabled]="load || subZoneForm.invalid"
  >
    {{ 'subZone.createButton' | translate }}
  </button>
</form>
