<contler-module-layout
  [data]="{
    title: 'preferences.immediate.name' | translate,
    icon: 'error',
    description: 'preferences.immediate.description' | translate,
    description2: 'preferences.immediate.subDescription' | translate
  }"
>
  <mat-spinner class="load" *ngIf="load"></mat-spinner>
  <mat-accordion *ngIf="modules | async; let mod">
    <mat-expansion-panel *ngFor="let category of mod.categories">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ category.name | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="section">
        <mat-checkbox *ngFor="let option of category.options" [checked]="option.active">
          {{ option.text | translate }}
        </mat-checkbox>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</contler-module-layout>
