@import 'styles/variables';

.cnt-menu-category {
  padding: 55px 51px 0;
}

table {
  width: 100%;
}

.cursor {
  cursor: pointer;
}

.color-p {
  font-size: 15.2px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  color: rgba(0, 0, 0, 0.6);
}

.color-ct-p {
  width: 271px;
  height: 24px;
  font-size: 15.2px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  color: rgba(0, 0, 0, 0.87);
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  padding-bottom: 20px;
  .form_section {
    p.title {
      font-family: $family;
      font-size: 24.3px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: $primary;
      margin: 0;
      margin-bottom: 29px;
    }
    mat-form-field {
      width: 80%;
      margin-bottom: 19px;
      &:last-of-type {
        margin-bottom: 33px;
      }
    }
    .button {
      width: 40%;
    }
  }
}

.mat-expansion-panel:not([class*='mat-elevation-z']) {
  border-bottom: 1px solid #e5e5e5;
  box-shadow: 0px 0px 0px -2px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14),
    0px 0px 0px 0px rgba(0, 0, 0, 0.12);
}

.parametersPanel .mat-expansion-panel-body {
  padding: 0;
}

.menu-category-table {
  .row_table {
    border-top: 1px solid #e5e5e5 !important;
    .row_container {
      display: grid;
      padding: 8px 26px 10px 26px;
      .row_table_p {
        font-family: Nunito;
        font-size: 15.2px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.58;
        letter-spacing: 0.1px;
        color: rgba(0, 0, 0, 0.6);
        margin: 0;
      }
      .actions {
        justify-self: flex-end;
      }
    }
    .two_column {
      grid-template-columns: 1fr 1fr;
      column-gap: 10px;
    }
    .three_column {
      grid-template-columns: calc(35% - 5px) calc(50% - 10px) calc(15% - 5px);
      column-gap: 10px;
    }
    .header {
      border-bottom: none;
      .header-p {
        font-family: Nunito;
        font-size: 15.2px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.58;
        letter-spacing: 0.1px;
        color: rgba(0, 0, 0, 0.87);
        margin: 0;
      }
    }
    .subrows_container {
      .sub_row {
        padding-left: 81px;
      }
    }
  }
  .row_head {
    .row_container {
      display: grid;
      border-bottom: 1px solid #e5e5e5;
      padding: 10px 26px 10px 26px;
      .header-p {
        font-family: Nunito;
        font-size: 15.2px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.58;
        letter-spacing: 0.1px;
        color: rgba(0, 0, 0, 0.6);
        margin: 0;
      }
      .actions {
        justify-self: flex-end;
      }
    }
    .two_column {
      grid-template-columns: 1fr 1fr;
      column-gap: 10px;
    }
    .three_column {
      grid-template-columns: calc(35% - 5px) calc(50% - 10px) calc(15% - 5px);
      column-gap: 10px;
    }
    .header {
      border-bottom: none;
    }
    .subrows_container {
      .sub_row {
        padding-left: 81px;
      }
    }
  }
}
