<form class="cnt-edit-guest" [formGroup]="guestGroup" (ngSubmit)="saveUser()">
  <h1 class="cnt-edit-guest__title">{{ 'editGuest.title' | translate }}</h1>
  <div class="cnt-edit-guest__form_guest">
    <mat-form-field appearance="fill">
      <input matInput formControlName="name" />
      <mat-icon matSuffix>check_circle</mat-icon>
      <mat-hint>{{ 'newGuest.name' | translate }}</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <input matInput formControlName="lastName" />
      <mat-icon matSuffix>check_circle</mat-icon>
      <mat-hint>{{ 'newGuest.lastName' | translate }}</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <input matInput [matDatepicker]="picker" readonly formControlName="checkIn" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-hint>{{ 'guest.checkIn' | translate }}</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <input matInput [matDatepicker]="picker2" readonly formControlName="checkOut" />
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
      <mat-hint>{{ 'guest.checkOut' | translate }}</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill" class="cnt-edit-guest__span2">
      <input matInput formControlName="email" readonly />
      <mat-icon matSuffix fontSet="material-icons-outlined">email</mat-icon>
      <mat-hint>{{ 'newGuest.email' | translate }}</mat-hint>
    </mat-form-field>
  </div>

  <h1 class="cnt-edit-guest__title_table">{{ 'global.SPECIAL_REQUEST' | translate }}</h1>
  <div class="cnt-edit-guest__form_guest_table">
    <div [hidden]="!dataSource.data.length">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="userName">
          <th mat-header-cell class="aligned-columnDef" *matHeaderCellDef>{{ 'guest.name' | translate }}</th>
          <td mat-cell *matCellDef="let element">{{ element.guest.name }} {{ element.guest.lastName }}</td>
        </ng-container>
        <ng-container matColumnDef="roomName">
          <th mat-header-cell class="aligned-columnDef" *matHeaderCellDef>{{ 'guest.room' | translate }}</th>
          <td mat-cell *matCellDef="let element">{{ element.room.name | ctrTranslate }}</td>
        </ng-container>
        <ng-container matColumnDef="description">
          <th mat-header-cell class="aligned-columnDef" *matHeaderCellDef>
            {{ 'editGuest.order' | translate }}
          </th>
          <td mat-cell *matCellDef="let element">{{ element.message | ctrTranslate }}</td>
        </ng-container>
        <ng-container matColumnDef="checkIn">
          <th mat-header-cell class="aligned-columnDef" *matHeaderCellDef>
            {{ 'guest.checkIn' | translate }}
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.guest.checkIn | date: 'dd/MM/yyyy' }}
          </td>
        </ng-container>
        <ng-container matColumnDef="checkOut">
          <th mat-header-cell class="aligned-columnDef" *matHeaderCellDef>
            {{ 'guest.checkOut' | translate }}
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.guest.checkOut | date: 'dd/MM/yyyy' }}
          </td>
        </ng-container>
        <ng-container matColumnDef="status">
          <th mat-header-cell class="aligned-columnDef" *matHeaderCellDef>{{ 'editGuest.status' }}</th>
          <td mat-cell *matCellDef="let element">
            <contler-status-icon [status]="!!element.finishAt"></contler-status-icon>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[3]" showFirstLastButtons></mat-paginator>
    </div>

    <p *ngIf="dataSource.data.length === 0" class="cnt-edit-guest__text">
      {{ 'editGuest.noRequest' | translate }}
    </p>
  </div>

  <button
    mat-raised-button
    color="accent"
    style="width: 217px; margin-top: 20px"
    contlerButton
    contlerBtnHotel="primary"
    [loading]="load"
    [disabled]="guestGroup.invalid || load"
  >
    {{ 'editGuest.update' | translate }}
  </button>
</form>

<button mat-icon-button class="cnt-edit-guest__close" (click)="dialogRef.close()">
  <mat-icon>close</mat-icon>
</button>
