<contler-marco-admin title="{{ 'order.title' | translate }}">
  <ng-container marcoHeader>
    <mat-form-field appearance="fill" class="select">
      <mat-select [(ngModel)]="state" (ngModelChange)="changeOrderState($event)">
        <mat-option *ngFor="let option of states" [value]="option.value">
          {{ option.name | translate }}
        </mat-option>
      </mat-select>
      <mat-hint>{{ 'order.state' | translate }}</mat-hint>
    </mat-form-field>
    <button mat-raised-button (click)="deleteOrder()" contlerButton [loading]="load" contlerBtnHotel="second">
      {{ 'order.deleteBtn' | translate }}
    </button>
    <button
      mat-raised-button
      color="accent"
      [disabled]="productForm?.invalid || load"
      contlerButton
      contlerBtnHotel="primary"
      [loading]="load"
      (click)="updateOrder()"
    >
      {{ 'order.updateBtn' | translate }}
    </button>
  </ng-container>
  <div marcoBody class="view-order">
    <div class="view-order__detail">
      <p class="title" contlerColorHotel="primary">{{ 'order.dataOrder' | translate }}</p>
      <form *ngIf="orderForm" [formGroup]="orderForm" class="view-order__form">
        <div class="grid-70-30">
          <mat-form-field appearance="fill">
            <input
              type="text"
              class="txt-capitalize"
              matInput
              [value]="order.guest.name + ' ' + order.guest.lastName"
              readonly
            />
            <mat-icon matSuffix>account_circle</mat-icon>
            <mat-hint>{{ 'order.guest' | translate }}</mat-hint>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <input type="text" matInput [value]="order.guest.room.name | ctrTranslate" readonly />
            <mat-icon matSuffix>location_on</mat-icon>
            <mat-hint>{{ 'order.room' | translate }}</mat-hint>
          </mat-form-field>
        </div>

        <div class="grid-70-30">
          <mat-form-field appearance="fill">
            <input type="text" matInput [value]="order.time | date: 'dd/MM/yyyy HH:mm aa'" readonly />
            <mat-icon matSuffix>query_builder</mat-icon>
            <mat-hint>{{ 'order.timeDate' | translate }}</mat-hint>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <input type="text" matInput [value]="order.zone.name | ctrTranslate" readonly />
            <mat-hint>{{ 'order.delivery' | translate }}</mat-hint>
          </mat-form-field>
        </div>

        <div class="grid-70-30 mb-4">
          <mat-form-field appearance="fill">
            <input type="text" matInput [value]="order.comment" readonly />
            <mat-hint>{{ 'order.observationOrder' | translate }}</mat-hint>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <input
              type="text"
              matInput
              [value]="orderProductsTotalValue(order)"
              currencyMask
              [options]="{ precision: 0, align: 'left' }"
              readonly
            />
            <mat-hint>{{ 'order.value' | translate }}</mat-hint>
          </mat-form-field>
        </div>

        <p class="title">{{ 'order.teamHotel' | translate }}</p>

        <div class="grid-70-30">
          <mat-form-field appearance="fill">
            <input
              type="text"
              class="txt-capitalize"
              matInput
              [value]="order.employer?.name + ' ' + order.employer?.lastName"
              readonly
            />
            <mat-icon matSuffix>account_circle</mat-icon>
            <mat-hint>{{ 'order.leader' | translate }}</mat-hint>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <input type="text" matInput [value]="(order.dateComplete | date: 'shortTime') || ''" readonly />
            <mat-icon matSuffix>query_builder</mat-icon>
            <mat-hint>{{ 'order.timeDelivery' | translate }}</mat-hint>
          </mat-form-field>
        </div>
      </form>
    </div>
    <div class="view-order__products">
      <p class="title">{{ 'order.title' | translate }}</p>
      <ng-container *ngFor="let item of restaurantProds | keyvalue; let i = index">
        <span class="view-order__restaurant" [style.marginTop]="i == 0 ? 0 : '50px'">
          {{ item.key | ctrTranslate }}
        </span>

        <contler-product-item
          *ngFor="let item of item.value"
          [product]="item.product"
          [hotel]="hotel$ | async"
          [disable]="true"
          [count]="item.quantity"
        >
        </contler-product-item>
      </ng-container>
    </div>
  </div>
</contler-marco-admin>
