<ion-header no-border>
  <div class="header">
    <div class="ion-text-center header__logo">
      <contler-logo *ngIf="user" [src]="user.hotel.logo"></contler-logo>
    </div>
    <button mat-icon-button class="header__menu" (click)="menu.toggle()">
      <mat-icon [style.color]="generalService.hotelColor">menu</mat-icon>
    </button>
  </div>
  <contler-search-list class="search" (status)="filter = $event"></contler-search-list>
</ion-header>

<ion-content>
  <div class="reception">
    <div class="reception__title center" contlerColorHotel>
      {{ 'pendingReception.title' | translate }}
    </div>

    <div *ngIf="totalReception2 === 0" class="center">
      {{ 'pendingReception.noRequests' | translate }}
    </div>

    <contler-dynamic-item
      *ngFor="let item of dynamicReq | async | dynamicFilter: filter"
      [isReady]="true"
      [item]="item"
    ></contler-dynamic-item>
  </div>
</ion-content>
