<ion-menu side="end" type="push" contentId="menu">
  <div class="menu-container">
    <div class="header-menu">
      <img
        *ngIf="user"
        [src]="user.hotel.logo"
        (click)="closeToogle()"
        routerLink="/home"
        class="header-menu__hotel-logo"
      />
      <p class="header-menu__name">{{ user?.name }} {{ user?.lastName }}</p>
      <p class="header-menu__zone-label">{{'menu.leader' | translate}} - {{chiefZonesLabel}}</p>
    </div>
    <div class="menu">
      <ng-container *ngFor="let item of menuItems">
        <contler-menu-item
          *ngIf="item.show"
          [item]="item"
          [selected]="isRouteSelected(item.route)"
          (click)="goToRoute(item.route)"
        >
        </contler-menu-item>
      </ng-container>

      <div class="menu__item" (click)="logout()">
        <mat-icon class="custom_icon">exit_to_app</mat-icon>
        <p class="label">Cerrar Sesión</p>
      </div>

      <div class="menu__item">
        <span class="custom_icon">{{actualLanguage?.unicode}}</span>
        <mat-select [(ngModel)]="actualLanguage" (selectionChange)="changeLanguage()">
          <mat-option *ngFor="let val of languages" [value]="val"> {{val.name}} </mat-option>
        </mat-select>
      </div>
    </div>
  </div>
</ion-menu>
<ion-router-outlet id="menu"></ion-router-outlet>
