@import '../../styles/variables';

.menu-container {
  padding: 40px 3px 48px 6px;
  overflow: auto;
  .header-menu {
    padding-bottom: 63px;
    padding-left: 18px;
    border-bottom: 1px solid $borderColor;
    p {
      margin: 0;
    }
    &__hotel-logo {
      height: 48px;
      margin-bottom: 23px;
    }
    &__name {
      font-family: Raleway;
      font-size: 20.2px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: 0.25px;
      color: $text-5;
      margin-bottom: 2px;
    }
    &__zone-label {
      font-family: Raleway;
      font-size: 14.2px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.41;
      letter-spacing: 0.25px;
      color: $text-5;
    }
  }
  .menu {
    padding: 26px 8px;
    &__item {
      display: grid;
      grid-template-columns: 54px auto;
      padding: 12px 10px 8px 10px;
      margin-bottom: 9px;
      .label {
        margin: 0;
        font-family: Raleway;
        font-size: 14.2px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.41;
        letter-spacing: 0.25px;
        color: $text-4;
      }
    }
    &__item--selected {
      background-color: $borderColor;
      mat-icon {
        color: $black;
      }
      .label {
        color: $text-3;
      }
    }
  }
}
