<contler-toolbar (toggle)="sidenav.toggle()"></contler-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="over" #sidenav>
    <contler-menu></contler-menu>
  </mat-sidenav>

  <mat-sidenav-content class="cnt-zone">
    <div class="container">
      <div class="header">
        <p class="header__title">Solicitudes inmediatas</p>
        <div class="buttons-container">
          <mat-form-field appearance="fill">
            <mat-select [(ngModel)]="filterByStatusSelected" (ngModelChange)="filterByStatus()">
              <mat-option [value]="requestStatus.ACTIVE"> Activas </mat-option>
              <mat-option [value]="requestStatus.ALL"> Todas </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <input matInput placeholder="Busca..." (keyup)="applyFilter($event.target.value)" />
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>
      </div>
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="userName">
            <th mat-header-cell *matHeaderCellDef>Nombre huésped</th>
            <td mat-cell *matCellDef="let element">
              {{ element.guest.name }} {{ element.guest.lastName }}
            </td>
          </ng-container>
          <ng-container matColumnDef="zone">
            <th mat-header-cell *matHeaderCellDef>Zona</th>
            <td mat-cell *matCellDef="let element">{{ element.zone.name }}</td>
          </ng-container>
          <ng-container matColumnDef="room">
            <th mat-header-cell *matHeaderCellDef>Cuarto</th>
            <td mat-cell *matCellDef="let element">{{ element.room.name }}</td>
          </ng-container>
          <ng-container matColumnDef="message">
            <th mat-header-cell *matHeaderCellDef>Mensaje</th>
            <td mat-cell *matCellDef="let element">{{ element.message }}</td>
          </ng-container>
          <ng-container matColumnDef="created_at">
            <th mat-header-cell *matHeaderCellDef>Hora</th>
            <td mat-cell *matCellDef="let element">{{ element.createAt | date: 'HH:mm' }}</td>
          </ng-container>
          <ng-container matColumnDef="employerName">
            <th mat-header-cell *matHeaderCellDef>Empleado</th>
            <td mat-cell *matCellDef="let element">{{ element.solved?.name }}</td>
          </ng-container>
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>Estado</th>
            <td mat-cell *matCellDef="let element">
              <contler-status-icon [status]="element.complete"></contler-status-icon>
            </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>&nbsp;</th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button (click)="update(element)">
                <mat-icon class="custom_icon">remove_red_eye</mat-icon>
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[10, 40, 100]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
