<contler-toolbar (toggle)="sidenav.toggle()"></contler-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="over" #sidenav>
    <contler-menu></contler-menu>
  </mat-sidenav>

  <mat-sidenav-content class="cnt-zone">
    <div class="container">
      <div class="header">
        <p class="header__title">Solicitudes inmediatas</p>
        <div class="buttons-container">
          <mat-form-field appearance="fill">
            <mat-select [(ngModel)]="filterByStatusSelected">
              <mat-option [value]="requestStatus.ACTIVE"> Activas </mat-option>
              <mat-option [value]="requestStatus.ALL"> Todas </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <input
              aria-label="search"
              matInput
              placeholder="Busca..."
              (keyup)="textFilter = $event.target['value']"
            />
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>
      </div>

      <div class="mat-elevation-z8">
        <contler-request
          [filterByStatusSelected]="filterByStatusSelected"
          [textFilter]="textFilter"
        ></contler-request>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
