<contler-toolbar (toggle)="sidenav.toggle()"></contler-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="over" #sidenav>
    <contler-menu></contler-menu>
  </mat-sidenav>

  <mat-sidenav-content class="cnt-zone">
    <div class="container">
      <div class="header">
        <p class="header__title" contlerColorHotel="primary">{{ 'global.IMMEDIATE_REQUEST' | translate }}</p>
        <div class="buttons-container">
          <mat-form-field appearance="fill">
            <mat-select [(ngModel)]="activeRequest">
              <mat-option *ngFor="let req of typeRequests | keyvalue" [value]="req.value.id">
                {{ req.value.name | translate }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-select [(ngModel)]="filterByStatusSelected">
              <mat-option [value]="requestStatus.ACTIVE">
                {{ 'immediateRequest.active' | translate }}
              </mat-option>
              <mat-option [value]="requestStatus.ALL"> {{ 'immediateRequest.all' | translate }} </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <input
              aria-label="search"
              matInput
              placeholder="{{ 'immediateRequest.searchPlaceHolder' | translate }}"
              (keyup)="textFilter = $event.target['value']"
            />
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>
      </div>

      <div class="mat-elevation-z8">
        <contler-request
          *ngIf="activeRequest === typeRequests.IMMEDIATE.id"
          [filterByStatusSelected]="filterByStatusSelected"
          [textFilter]="textFilter"
        ></contler-request>
        <contler-reception-request
          [filterByStatusSelected]="filterByStatusSelected"
          [textFilter]="textFilter"
          [typeReq]="activeRequest"
          *ngIf="activeRequest !== typeRequests.IMMEDIATE.id"
        ></contler-reception-request>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
