@import 'styles/variables';
@import 'styles/mixin';

.reservation {
  padding: 20px 0px 0px;
  &__logo {
    display: block;
    margin: 0 auto;
    width: 100px;
  }

  &__title {
    font-family: $family;
    font-size: 16.2px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.48;
    letter-spacing: 0.15px;
    text-align: center;
    margin: 30px 0px 30px;
    padding: 2%;
  }

  &__zone {
    display: grid;
    grid-template-columns: max-content auto max-content;
    column-gap: 5px;
    padding: 25px 26px 22px;
    min-height: 30px;
    align-items: center;
    text-decoration: none;
    &-icon {
      color: $lighterIcon;
    }
    &-text {
      @include text(rgba(0, 0, 0, 0.87), 20px, 500);
      font-family: $family;
      font-size: 14.2px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.13;
      letter-spacing: 1.25px;
      align-items: center;
      margin-left: 20px;
    }
  }
}

.reservation__zone:nth-child(even) {
  background-color: #f6f6f6;
}
