<contler-marco padding="0" [backUrl]="true">
  <div marcoBody class="reservation">
    <h1 class="reservation__title" contlerColorHotel="primary">
      {{ 'reservation.title' | translate }}
    </h1>

    <contler-option-grid>
      <contler-option-request
        *ngFor="let opt of zoneReservation"
        [name]="opt.name"
        [icon]="opt.icon"
        [link]="getLink(opt)"
      ></contler-option-request>
    </contler-option-grid>
  </div>
  <div marcoFooter>
    <contler-bottom-bar></contler-bottom-bar>
  </div>
</contler-marco>
