<contler-marco [backUrl]="'/home/guest-requests'">
  <div marcoBody class="wake-up">
    <p class="wake-up__title" [style]="getColorHotel()">{{ 'wakeUp.title' | translate }}</p>
    <mat-spinner color="accent" style="margin: auto" *ngIf="!wakes"></mat-spinner>
    <div *ngIf="wakes && wakes.length == 0" class="wake-up__null">
      <mat-icon class="wake-up__null-icon" [style]="getColorSecondHotel()">check_circle</mat-icon>
      <p class="wake-up__null-text" [style]="getColorHotel()">
        {{ 'wakeUp.youDontHaveAnyoneWakeUpCalls' | translate }}
      </p>
    </div>

    <div *ngIf="wakes">
      <div *ngFor="let wake of wakes; let i = index" class="wake-up__content">
        <p class="wake-up__complete-date">{{ wake.competeDate | date: 'dd/MM/yyyy' }}</p>
        <p class="wake-up__short-date">{{ wake.competeDate | date: 'shortTime' }}</p>
        <button
          mat-icon-button
          aria-label="delete"
          contlerButton
          [loading]="indexLoad == i"
          (click)="delete(wake, i)"
          [disabled]="indexLoad == i"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>

    <div class="wake-up__btn">
      <button
        mat-raised-button
        contlerButton
        contlerColorBtnHotel="primary"
        routerLink="/home/wake-up-create"
        [style]="getColorButtonHotel()"
      >
        {{ 'wakeUp.scheduleNewWakeUpCall' | translate }}
      </button>
    </div>
  </div>
</contler-marco>
