<h1 contlerColorHotel class="ctl-title">Petición de {{ data.typePetition }}</h1>

<div class="modal__form">
  <mat-form-field appearance="fill">
    <input matInput readonly [value]="data.comment" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-select [(ngModel)]="data.active">
      <mat-option [value]="true">Cumplida</mat-option>
      <mat-option [value]="false">Activa</mat-option>
    </mat-select>
    <mat-hint>Estado</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <input type="text" matInput [value]="data.guest.name + ' ' + data.guest.lastName" readonly />
    <mat-hint>Huésped</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <input type="text" matInput [value]="data.guest.room.name" readonly />
    <mat-hint>Habitación</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <input type="text" matInput [value]="data.createAt | date: 'shortTime'" readonly />
    <mat-hint>Hora de solicitud</mat-hint>
  </mat-form-field>

  <button mat-raised-button contlerBtnHotel>Actualizar</button>
</div>
