@import 'styles/variables';
@import 'styles/mixin';

$grayFeatures: #9e9e9e; // OJO!: HAY VARIOS GRISES DISTINTOS EN ZEPLIN

.container {
  &__hotel-logo {
    display: block;
    margin: 0 auto;
    width: 100px;
  }
  &__label {
    margin-top: 29px;
    font-family: $family;
    font-size: 20.2px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.25px;
    text-align: center;
    color: $text-3;
    margin-bottom: 52px;
  }

  &__category {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    &-item {
      text-align: center;
      color: #9e9e9e;
    }
    &-text {
      @include text($text-1, 12.2px);
      line-height: 1.31;
      letter-spacing: 0.4px;
    }
  }

  &__specific-label {
    font-family: $family;
    font-size: 14.2px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.69;
    letter-spacing: 0.1px;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
  }

  &__input {
    width: 100%;
  }

  &__button {
    margin-top: 73px;
    width: 100%;
  }

  .features-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto 52px;
    width: 70%;
    .features-container-item {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 12px 0;
      &__icon {
        color: #9e9e9e;
        display: inline-block;
        font-size: 22px;
        height: 22px;
        margin-right: 12px;
        vertical-align: middle;
        width: 22px;
      }
      &__name {
        @include text($text-1, 12.2px);
        display: inline-block;
        letter-spacing: 0.4px;
        line-height: 1.31;
        text-align: center;
        vertical-align: middle;
      }
      .mat-radio-label-content {
        margin-left: 12px;
      }
    }
  }

  .drin-container {
    mat-form-field {
      margin-bottom: 21px;
    }
  }
}
