<contler-marco [backUrl]="'/home/guest-requests'">
  <div class="container" marcoBody>
    <p class="container__label" contlerColorHotel="primary">
      You are in {{ zone?.category.name }} <br />
      What do you need?
    </p>

    <div class="features-container" *ngIf="zone">
      <div
        class="features-container-item"
        *ngFor="let subcategory of categories[zone.category.id]"
        (click)="setQuickRequest(subcategory.name)"
      >
        <mat-icon
          class="features-container-item__icon"
          *ngIf="subcategory.name != selectedSubcategory"
        >
          {{ subcategory.icon }}
        </mat-icon>
        <mat-icon
          class="features-container-item__icon"
          contlerColorHotel="primary"
          *ngIf="subcategory.name === selectedSubcategory"
        >
          {{ subcategory.icon }}
        </mat-icon>
        <p class="features-container-item__name">{{ subcategory.name }}</p>
      </div>
    </div>

    <div *ngIf="showRequestField">
      <mat-form-field appearance="fill" class="full_width container__input">
        <input matInput [formControl]="requestController" />
        <mat-hint>Escribe lo que necesitas</mat-hint>
      </mat-form-field>
    </div>

    <button
      (click)="saveRequest()"
      [disabled]="loader || buttonDisabled()"
      [loading]="loader"
      [style]="buttonDisabled() ? '' : getButtonColorHotel()"
      class="container__button"
      color="accent"
      contlerButton
      mat-raised-button
    >
      CREATE REQUEST
    </button>
  </div>
</contler-marco>
