<ion-header no-border>
  <div class="header">
    <button mat-icon-button class="header__menu" routerLink="/home/order">
      <mat-icon [style.color]="generalService.hotelColor">arrow_back_ios</mat-icon>
    </button>

    <div class="ion-text-center header__logo">
      <contler-logo *ngIf="user" [src]="user.hotel.logo"></contler-logo>
    </div>
    <button mat-icon-button class="header__menu" (click)="menu.toggle()">
      <mat-icon [style.color]="generalService.hotelColor">menu</mat-icon>
    </button>
  </div>
</ion-header>

<ion-content padding="16px">
  <p class="detail__id-text">{{ 'orderDetail.orderId' | translate }} {{ order?.id }}</p>

  <h1 class="detail__title" [style.color]="generalService.hotelColor">
    {{ order?.guest.name }} {{ order?.guest.lastName }} <br />
    {{ order?.guest.room.name | ctrTranslate }} - {{ order?.time | date: 'shortTime' }}
  </h1>

  <ng-container *ngFor="let item of productsRestaurant | keyvalue; let i = index">
    <span class="detail__restaurant" [style.marginTop]="i == 0 ? 0 : '50px'">
      {{ item.key | ctrTranslate }}
    </span>

    <contler-product-item
      *ngFor="let item of item.value"
      [product]="item.product"
      [disable]="true"
      [count]="item.quantity"
    ></contler-product-item>
  </ng-container>

  <p class="detail__total" [style.color]="generalService.hotelColor">
    {{ 'orderDetail.total' | translate }} {{ total | currency: 'cop':'COP $':'1.0-0' }}
  </p>
  <p class="detail__comments">{{ 'orderDetail.comments' | translate }} {{ order?.comment }}</p>

  <div class="detail__data">
    <mat-form-field appearance="fill" *ngIf="order">
      <mat-select [(ngModel)]="order.employer" [compareWith]="compare">
        <mat-option *ngFor="let item of employers" [value]="item"
          >{{ item.name }} {{ item.lastName }}</mat-option
        >
      </mat-select>
      <mat-hint>{{ 'orderDetail.employeeInCharge' | translate }}</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <input matInput type="text" readonly [value]="order?.zone.name | ctrTranslate" aria-label="name" />
      <mat-hint>{{ 'orderDetail.delivery' | translate }}</mat-hint>
    </mat-form-field>

    <button mat-raised-button contlerButton [loading]="load" (click)="update()" [disabled]="load2">
      {{ 'orderDetail.update' | translate }}
    </button>
    <button
      mat-raised-button
      color="accent"
      [style.background]="generalService.hotelColor"
      [style.color]="'white'"
      [disabled]="!order?.employer || load2"
      contlerButton
      [loading]="load2"
      (click)="complete()"
    >
      {{ 'orderDetail.delivered' | translate }}
    </button>
  </div>
</ion-content>
