<contler-toolbar
  (toggle)="sidenav.toggle()"
  [tittle]="'preferences.hotel' | translate: paramName"
></contler-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="over" #sidenav>
    <contler-menu></contler-menu>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="marco">
      <div class="complete">
        <img [src]="hotel?.logo" alt="hotel logo" class="logo" />
        <p class="title">{{ data?.title }}</p>
      </div>
      <div *ngIf="showIcon">
        <div class="marco__box">
          <mat-icon class="icon">check_circle_outline</mat-icon>
          <mat-icon class="big-icon">{{ data?.icon }}</mat-icon>
          <p class="text">{{ data?.title }}</p>
        </div>
        <p [innerHTML]="data?.description2" class="marco__description"></p>
      </div>
      <div class="marco__container" [ngClass]="{ 'not-show-icon': !showIcon }">
        <p class="description">{{ data.description }}</p>
        <ng-content></ng-content>
      </div>
      <div class="complete marco__footer">
        <button mat-raised-button (click)="goBack()">{{ 'preferences.back' | translate }}</button>
        <button *ngIf="redirectAction" mat-raised-button [routerLink]="nextUrl" contlerBtnHotel="primary">
          {{ 'preferences.continue' | translate }}
        </button>
        <button
          *ngIf="!redirectAction"
          mat-raised-button
          contlerBtnHotel="primary"
          [disabled]="disable || load"
          (click)="next.emit()"
        >
          <span *ngIf="!load">{{ 'preferences.continue' | translate }}</span>
          <mat-spinner *ngIf="load" [diameter]="25" style="margin: auto"></mat-spinner>
        </button>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
