<contler-toolbar
  (toggle)="sidenav.toggle()"
  [tittle]="'preferences.hotel' | translate: paramName"
></contler-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="over" #sidenav>
    <contler-menu></contler-menu>
  </mat-sidenav>

  <mat-sidenav-content>
    <img [src]="hotel?.logo" alt="hotel logo" class="logo" />
    <p class="title">{{ data?.title }}</p>
    <div class="marco">
      <div>
        <div class="marco__box">
          <mat-icon class="icon">check_circle_outline</mat-icon>
          <mat-icon class="big-icon">{{ data?.icon }}</mat-icon>
          <p class="text">{{ data?.title }}</p>
        </div>
        <p [innerHTML]="data?.description2" class="marco__description"></p>
      </div>
      <div class="marco__container">
        <p class="description">{{ data.description }}</p>
        <ng-content></ng-content>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
