<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="search()" *ngIf="hasSearch">
        <ion-icon class="custom_icon" slot="icon-only" [name]="generalService.searchToogle ? 'close' : 'search'"></ion-icon>
      </ion-button>
      <ion-button *ngIf="isModal" (click)="closeModal()">
        <ion-icon
          class="custom_icon"
          slot="icon-only"
          name="arrow-back"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button *ngIf="!isModal"
        class="custom_icon"
        [style.color]="generalService.hotelColor"
      ></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
