<contler-toolbar [hasSearch]="true"></contler-toolbar>
<ion-content>
  <div class="main-container">
    <contler-logo></contler-logo>
    <div class="search-container" *ngIf="searchRequestsEnabled">
      <contler-searchbar
        [placeholder]="'Qué buscas'"
        (value)="searchRequests($event)"
      ></contler-searchbar>
      <ng-container *ngIf="requestsResults.length">
        <div class="item" *ngFor="let request of requestsResults" (click)="goToRequest(request)">
          <div class="item__info-container">
            <p class="username">{{request.userName}}</p>
            <p class="zone">{{request.description}}</p>
          </div>
          <div class="item__data-container">
            <p class="time">{{request.roomName}}</p>
            <button mat-icon-button>
              <mat-icon class="custom_icon">keyboard_arrow_right</mat-icon>
            </button>
          </div>
        </div>
      </ng-container>
      <ng-template #emptyResults>
        <p class="empty-label" *ngIf="requestsResults.length == 0">
          No hay resultados para esta búsqueda
        </p>
      </ng-template>
    </div>
    <ng-container *ngIf="!searchRequestsEnabled">
      <p class="main-container__title">Solicitudes especiales activas</p>
      <div class="list-container">
        <ng-container *ngIf="requests.length else empty">
          <div class="item" *ngFor="let request of requests">
            <div class="item__info-container">
              <p class="username">{{request.userName}}</p>
              <p class="zone">{{request.description}}</p>
            </div>
            <div class="item__data-container">
              <p class="time">{{request.roomName}}</p>
              <button mat-icon-button (click)="goToRequest(request)">
                <mat-icon class="custom_icon">keyboard_arrow_right</mat-icon>
              </button>
            </div>
          </div>
        </ng-container>
        <ng-template #empty>
          <div class="empty-container">
            <mat-icon class="custom_icon empty-container__icon"
              >check_circle</mat-icon
            >
            <p
              class="empty-container__label"
              [style.color]="generalService.hotelColor"
            >
              No tienes ninguna solicitud especial de los huéspedes activa
            </p>
          </div>
        </ng-template>
      </div>
    </ng-container>
  </div>
</ion-content>
