<contler-marco [backUrl]="true">
  <div marcoBody>
    <p contlerColorHotel="primary" class="p-label">
      {{ 'specialRequest.message' | translate }}
    </p>
    <form #specialRequestForm (ngSubmit)="saveRequest()">
      <mat-form-field appearance="fill" class="wd-area">
        <textarea
          matInput
          cdkAutosizeMinRows="15"
          cdkTextareaAutosize
          placeholder="{{ 'specialRequest.placeholder' | translate }}"
          [(ngModel)]="description"
          name="description"
          required
        ></textarea>
      </mat-form-field>
      <button
        class="btn"
        mat-raised-button
        contlerButton
        contlerColorBtnHotel="primary"
        [loading]="loader"
        [disabled]="loader || specialRequestForm.invalid"
      >
        {{ 'specialRequest.send' | translate }}
      </button>
    </form>
  </div>
</contler-marco>
