@import 'styles/variables';
@import 'styles/mixin';

.request__hotel-logo {
  display: block;
  margin: 0 auto;
}
.p-label {
  width: 90%;
  display: block;
  font-family: $family;
  font-size: 16.2px;
  margin-left: auto;
  margin-right: auto;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.48;
  letter-spacing: 0.15px;
  text-align: center;
  margin-top: 38px;
  margin-bottom: 20px;
}
.btn {
  margin-top: 28px;
}

.wd-area {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn-styles {
  height: 55px;
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: $family;
  font-size: 14.2px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: 1.25px;
  border-radius: 11px;
  color: #ffffff;
}
