@import 'global';

.request__hotel-logo {
  display: block;
  margin: 0 auto;
}
.p-label {
  @include text(16px);
  display: block;
  text-align: center;
  margin-top: 38px;
  margin-bottom: 20px;
}

.footer {
  padding: 16px;
  box-sizing: border-box;
  display: grid;
}
