<contler-marco [backUrl]="true">
  <div marcoBody>
    <p contlerColorHotel="primary" class="p-label">
      {{ 'specialRequest.message' | translate }}
    </p>
    <form>
      <mat-form-field appearance="fill" style="width: 100%">
        <textarea
          matInput
          cdkAutosizeMinRows="15"
          cdkTextareaAutosize
          placeholder="{{ 'specialRequest.placeholder' | translate }}"
          [(ngModel)]="description"
          name="description"
          required
        ></textarea>
      </mat-form-field>
    </form>
  </div>

  <div marcoFooter class="footer">
    <button
      mat-raised-button
      contlerButton
      contlerColorBtnHotel="primary"
      (click)="saveRequest()"
      [loading]="loader"
      [disabled]="loader || !description"
    >
      {{ 'specialRequest.send' | translate }}
    </button>
  </div>
</contler-marco>
