.request__hotel-logo{
    display: block;
    margin: 0 auto;
}
p.label{
    font-family: Raleway;
    font-size: 20.2px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.25px;
    text-align: center;
    margin-top: 38px;
    margin-bottom: 20px;
}
button{
    margin-top: 28px;
}