@import 'styles/variables';
@import 'styles/mixin';

:host {
  display: flex;
  flex-direction: column;
  outline: none;
  width: 100%;

  .mat-list-item.active {
    background-color: mat-color($lighterIcon, 50);
  }
  &:hover,
  &:focus {
    > .mat-list-item:not(.expanded) {
      background-color: mat-color($lighterIcon, 100) !important;
    }
  }
}

.menu {
  width: 304px;
  padding: 31px 16px 10px;
  box-sizing: border-box;
  &__title {
    @include text($text-5, 20.2px, 500);
  }
  &__name {
    @include text($text-5, 14.2px);
  }

  &__divide {
    height: 1px;
    color: $text-5;
    background-color: $text-5;
    border: none;
    width: 304px;
    left: -15px;
    margin-top: 40px;
    opacity: 0.12;
    margin-bottom: 30px;
    margin-left: -16px;
  }

  &__primary {
    color: $primary;
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 7px;
  }

  &__option {
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: $text-3;
    height: 40px;
    padding: 0 10px;
    &:hover {
      background: rgba(193, 193, 193, 0.51);
    }
    &.select {
      background: rgba(193, 193, 193, 0.51);
    }
    &-icon {
      margin-right: 20px;
    }
    &-text {
      @include text($text-3, 14px);
    }
  }
}

.mat-list-item {
  padding: 8px 0;
  display: flex;
  width: auto;

  .routeIcon {
    margin-right: 40px;
  }
}
