@import 'global';

.menu {
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  position: relative;

  &__logo {
    width: 132px;
    margin: 9px 0 30px;
  }

  &__text {
    @include text(14px, $text-1, bold);
    line-height: 18px;
    letter-spacing: 0.13px;
  }

  &__logout {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 30px;
  }

  .space {
    margin-bottom: 50px;
  }
}

.language {
  margin-top: 40px;
}
