<div class="menu-container">
  <div class="header">
    <div class="header__m10">
      <img *ngIf="hotel" [src]="hotel.logo" routerLink="/home" class="header__hotel-logo" />
      <p class="header__name">{{ user?.name }} {{ user?.lastName }}</p>
    </div>
  </div>
  <div class="menu">
    <div
      class="menu__item"
      *ngFor="let item of menuItems"
      (click)="goToRoute(item.route)"
      [ngClass]="{ 'menu__item--selected': isSelectedRoute(item.route) }"
    >
      <mat-icon class="custom_icon">{{ item.icon }}</mat-icon>
      <p class="label">{{ item.name | translate }}</p>
    </div>
    <div class="menu__item" (click)="logout()">
      <mat-icon class="custom_icon">exit_to_app</mat-icon>
      <p class="label">{{ 'sidebar.logOut' | translate }}</p>
    </div>

    <div class="menu__item language">
      <div class="custom_icon">
        {{ actualLanguage.unicode }}
      </div>
      <mat-select required [(ngModel)]="actualLanguage" (selectionChange)="changeLanguage()">
        <mat-option *ngFor="let language of languages" [value]="language">
          <p class="label">{{ language.name }}</p>
        </mat-option>
      </mat-select>
    </div>
  </div>
</div>
