<div class="menu">
  <img *ngIf="hotel" [src]="hotel.logo" routerLink="/home" alt="logo" class="menu__logo" />
  <span class="menu__text" contlerColorHotel>{{ guest?.name }} {{ guest?.lastName }}</span>
  <span class="menu__text space" contlerColorHotel>{{ guest?.room?.name | ctrTranslate }}</span>

  <button mat-button routerLink="/home/welcome" class="space">
    <span class="menu__text" contlerColorHotel> {{ constants.home | translate }}</span>
  </button>

  <button mat-button *ngFor="let language of languages | async" (click)="changeLanguage(language)">
    <span
      class="menu__text"
      contlerColorHotel
      [overwrite]="this.actualLanguage.prefix === language.prefix ? '#9b9c9d' : null"
    >
      {{ language.name }}
    </span>
  </button>

  <div class="menu__logout">
    <button mat-button (click)="logout()">
      <span contlerColorHotel class="menu__text">
        {{ constants.logout | translate }}
      </span>
    </button>
  </div>
</div>
