<div class="range" [formGroup]="rangeForm">
  <mat-form-field appearance="fill" class="full-field">
    <mat-select formControlName="day">
      <mat-option *ngFor="let day of days" [value]="day">{{ day | translate }}</mat-option>
    </mat-select>
    <mat-hint>{{ 'reservation.range.labelDay' | translate }}</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-field">
    <mat-select formControlName="init" [compareWith]="compareWith">
      <mat-option *ngFor="let day of time; let i = index" [value]="getHour(i)">
        {{ getHour(i) | date: 'shortTime' }}
      </mat-option>
    </mat-select>
    <mat-hint>{{ 'reservation.range.initTime' | translate }}</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-field">
    <mat-select formControlName="end" [compareWith]="compareWith">
      <mat-option *ngFor="let day of time; let i = index" [value]="getHour(i)">
        {{ getHour(i) | date: 'shortTime' }}
      </mat-option>
    </mat-select>
    <mat-hint>{{ 'reservation.range.endTime' | translate }}</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-field">
    <input matInput mask="90" formControlName="quota" />
    <mat-hint>{{ 'reservation.range.quotaLabel' | translate }}</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-field">
    <input matInput mask="90" formControlName="rooms" (ngModelChange)="schedule.rooms = $event" />
    <mat-hint>{{ 'reservation.range.rooms' | translate }}</mat-hint>
  </mat-form-field>

  <mat-slide-toggle class="range__opt" formControlName="active"></mat-slide-toggle>

  <button mat-icon-button class="range__opt" (click)="deleteRange()" type="button">
    <mat-icon style="color: #757575">delete</mat-icon>
  </button>
</div>
