@import 'styles/variables';

.center {
  text-align: center;
}

.header {
  display: grid;
  padding: 40px 30px 0;
  grid-template-columns: 40px auto 40px;
  align-items: start;
  color: rgba(0, 0, 0, 0.54);
  &__img {
    width: 75px;
  }

  &__logo {
    grid-column-start: 2;
  }

  &__menu {
    color: #8dc53e;
  }
}

.order {
  &__title {
    font-family: $family;
    font-size: 20.2px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.25px;
    text-align: center;
    color: #006633;
    margin: 0 0 40px;
  }
}
