

<ion-tabs>
  <ion-tab-bar slot="bottom" class="footer">
    <ion-tab-button tab="pending" class="footer__btn" routerLink="footer__btn--select">
      <ion-label>Pendientes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="complete" class="footer__btn">
      <ion-label>Resueltas</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<!--<ion-router-outlet></ion-router-outlet>-->

<!--<ion-footer class="footer" no-border>-->
<!--  <button class="footer__btn">Pendientes</button>-->
<!--  <button class="footer__btn footer__btn&#45;&#45;select">Resueltas</button>-->
<!--</ion-footer>-->
