<button mat-icon-button class="content__close" (click)="dialogRef.close()">
  <mat-icon>close</mat-icon>
</button>

<p class="title">{{ 'employer.modal.title' | translate }}</p>

<form [formGroup]="formEmployer" (ngSubmit)="saveUser()">
  <div class="content">
    <mat-form-field appearance="fill" class="content__2-columns">
      <input matInput formControlName="name" aria-label="name" />
      <mat-icon matSuffix>account_circle</mat-icon>
      <mat-hint>{{ 'employer.modal.name' | translate }}</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill" class="content__2-columns">
      <mat-select formControlName="leader">
        <mat-option [value]="true">{{ 'employer.modal.yesOption' | translate }}</mat-option>
        <mat-option [value]="false">{{ 'employer.modal.noOption' | translate }}</mat-option>
      </mat-select>
      <mat-hint>{{ 'employer.leaderOption' | translate }}</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill" class="content__2-columns">
      <input matInput formControlName="lastName" aria-label="last-name" />
      <mat-icon matSuffix>account_circle</mat-icon>
      <mat-hint>{{ 'employer.modal.lastName' | translate }}</mat-hint>
    </mat-form-field>

    <div class="content__2-columns content__zone content__3-row">
      <p class="content__zone-text">
        {{ 'employer.modal.leaderZone' | translate }}
      </p>
      <contler-zone-list
        [$zones]="$zone"
        [(specialZones)]="specialZones"
        [zonesSelected]="leaderZone"
        (selected)="leaderZone = $event"
      ></contler-zone-list>
    </div>

    <mat-form-field appearance="fill" class="content__2-columns">
      <input matInput formControlName="email" aria-label="email" readonly />
      <mat-icon matSuffix fontSet="material-icons-outlined">email</mat-icon>
      <mat-hint>{{ 'global.EMAIL' | translate }}</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill" class="custom-filed">
      <input matInput formControlName="score" readonly />
      <mat-hint>{{ 'employer.rating' | translate }}</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill" class="custom-filed">
      <input matInput formControlName="averageTime" readonly />
      <mat-hint>{{ 'employer.modal.averageTime' | translate }}</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill" class="custom-filed">
      <input matInput formControlName="numRequest" readonly />
      <mat-hint>{{ 'employer.modal.totalServices' | translate }}</mat-hint>
    </mat-form-field>
  </div>

  <button
    mat-raised-button
    color="accent"
    contlerButton
    [loading]="loading"
    [disabled]="loading || formEmployer.invalid"
  >
    {{ 'employer.modal.update' | translate }}
  </button>
</form>
