.mat-hint {
  font-family: $family;
}

.mat-raised-button {
  border-radius: 12px;
  min-height: 50px;
  min-width: 90%;
  font-family: $family;
  font-size: 14.2px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: 0.25px;
}

.mat-form-field-appearance-fill .mat-select-arrow-wrapper {
  transform: translateY(0) !important;
}

.custom-filed {
  .mat-form-field-infix {
    width: 100%;
  }
}

.mat-expansion-panel-header {
  font-family: $family;
  text-transform: uppercase;
}
