<contler-marco padding="0" [backUrl]="true">
  <div marcoBody class="reservation">
    <h1 class="reservation__title" contlerColorHotel="primary">
      {{ 'reservation.title' | translate }}
    </h1>

    <contler-option-grid>
      <contler-option-request
        *ngFor="let opt of subZoneReservation"
        [name]="opt.name"
        [icon]="opt.icon"
        link="/home/reservation/{{ opt.zoneParent.id }}/sub-zone/{{ opt.id }}"
      ></contler-option-request>
    </contler-option-grid>
  </div>
</contler-marco>
