<contler-toolbar (toggle)="sidenav.toggle()"></contler-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="over" #sidenav>
    <contler-menu></contler-menu>
  </mat-sidenav>

  <form [formGroup]="reservationForm" (ngSubmit)="save()" class="schedule">
    <div class="schedule__header">
      <h1 class="cnt-title" contlerColorHotel="primary">{{ 'subZone.edit.title' | translate }}</h1>
      <button
        mat-raised-button
        type="button"
        contlerBtnHotel="second"
        [disabled]="loader || !subZoneReserveEntity?.schedule.length"
        (click)="deleteReservation()"
      >
        {{ 'subZone.edit.deleteBtn' | translate }}
      </button>
      <button
        mat-raised-button
        color="accent"
        contlerButton
        contlerBtnHotel="primary"
        [loading]="loader"
        [disabled]="loader || reservationForm.invalid"
      >
        {{ 'subZone.edit.editBtn' | translate }}
      </button>
    </div>

    <mat-card class="schedule__information">
      <mat-form-field appearance="fill">
        <input matInput formControlName="name" />
        <mat-hint>{{ 'subZone.labelName' | translate }}</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-select formControlName="zoneParent">
          <mat-option *ngFor="let zone of zoneReservations$ | async" [value]="zone.id">
            {{ zone.name | ctrTranslate }}
          </mat-option>
        </mat-select>
        <mat-hint>{{ 'subZone.labelZone' | translate }}</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <input matInput [matAutocomplete]="auto" formControlName="icon" />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let icon of filterIcon | async" [value]="icon">
            <mat-icon>{{ icon }}</mat-icon> {{ icon }}
          </mat-option>
        </mat-autocomplete>
        <mat-hint>{{ 'subZone.labelIcon' | translate }}</mat-hint>
      </mat-form-field>
    </mat-card>

    <h2 class="cnt-title" style="margin-top: 21px" contlerColorHotel="primary">
      {{ 'subZone.edit.subtitle' | translate }}
    </h2>

    <mat-card class="schedule__availability">
      <div class="schedule__availability-option">
        <contler-range
          *ngFor="let schedule of schedules; let i = index"
          [schedule]="schedule"
          [formGroup]="reservationForm"
          (delete)="removeElement(schedule, i)"
        ></contler-range>
      </div>
      <button
        mat-raised-button
        contlerBtnHotel="primary"
        [class.schedule__btn]="schedules.length"
        type="button"
        (click)="addSchedule()"
      >
        {{ 'subZone.edit.addBtn' | translate }}
      </button>
    </mat-card>
  </form>
</mat-sidenav-container>
