<contler-marco padding="0">
  <div marcoBody>
    <p class="request__label request__user request__question" contlerColorHotel>
      {{ 'guestRequest.hello' | translate }} {{ ($guest | async)?.name }}!
    </p>
    <p class="request__label request__space request__question" contlerColorHotel>
      {{ 'guestRequest.WhatDoYouNeedToday' | translate }}
    </p>
    <div class="request__content">
      <a *ngFor="let zone of zones$ | async" class="request__zone" [routerLink]="zone.link">
        <mat-icon class="request__zone-icon" contlerColorHotel>{{ zone.icon }}</mat-icon>
        <span contlerColorHotel class="request__zone-text">
          {{ zone.name | translate | ctrTranslate | uppercase }}
        </span>
      </a>
    </div>
  </div>
</contler-marco>
