<contler-marco padding="16px">
  <div marcoBody>
    <p class="request__label request__user request__question" contlerColorHotel>
      {{ 'guestRequest.hello' | translate }} {{ ($guest | async)?.name }}!
    </p>
    <p class="request__label request__question" contlerColorHotel>
      {{ 'guestRequest.WhatDoYouNeedToday' | translate }}
    </p>
    <contler-option-grid class="request__content">
      <contler-option-request
        *ngFor="let zone of zones$ | async"
        [name]="zone.name"
        [link]="zone.link"
        [icon]="zone.icon"
      ></contler-option-request>
      <contler-option-request
        *ngFor="let ecommerce of ecommerce$ | async"
        [name]="ecommerce.title"
        [link]="ecommerce.link"
        icon="menu_book"
      ></contler-option-request>
    </contler-option-grid>
  </div>

  <div marcoFooter>
    <contler-bottom-bar></contler-bottom-bar>
  </div>
</contler-marco>
