@import "styles/variables";

:host {
  display: block;
  padding-top: 56px;
}

.mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.contler-admin {

  &__primary {
    color: $primary;
  }

  &__title {
    color: $primary;
    font-size: 24.3px;
    font-weight: normal;
    margin: 55px 0 0 57px;
  }

  &__options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 112px auto 0;
    column-gap: 20px;
    row-gap: 18px;
    width: 1060px;

    &-card {
      text-align: center;
      color: $text-3;
      cursor: pointer;
      position: relative;
      p.badge{
        background-color: #d0021b;
        border-radius: 100%;
        display: inline;
        padding: 2px 7px;
        position: absolute;
        top: 10px;
        right: 7px;
        font-family: Raleway;
        font-size: 14.2px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.41;
        letter-spacing: 0.25px;
        text-align: center;
        color: #ffffff;
        margin: 0;
      }
    }

    &-icon {
      font-size: 30px;
    }

    &-text {
      font-size: 20.2px;
      font-weight: 500;
      letter-spacing: 0.25px;
      font-family: $family;
      margin-top: 0;
    }
  }

}
