@import "styles/variables";

:host {
  display: block;
  padding-top: 56px;

  .mat-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
}

.cnt-employer {
  padding: 0 51px;
  &__header {
    display: grid;
    grid-template-columns: auto max-content max-content;
    column-gap: 63px;
    align-items: baseline;
    margin-top: 43px;
    margin-bottom: 30px;
  }
}
