.hotel {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 20px;

  &__form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;

    .full {
      grid-column: span 2;
    }
  }

  &__edit {
    display: flex;
    align-items: flex-end;
    margin-top: 20px;
  }

  &__img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 1px solid;
    margin-right: 20px;
  }

  &__admin {
    display: inline-grid;
    gap: 20px;
  }

  &-lan {
    font-size: 25px;
    margin-top: 30px;

    &__section {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
    }
  }
}
