.hotel {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 20px;

  &__form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;

    .full {
      grid-column: span 2;
    }
  }

  &__img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 1px solid;
    margin-top: 20px;
  }
}
