<contler-marco [backUrl]="'/home/welcome'">
  <div marcoBody>
    <p class="late__title" contlerColorHotel="primary">{{ 'lateCheckOut.title' | translate }}</p>

    <div *ngFor="let item of lateList | async" class="late__item">
      <p class="late__p-label-date">{{ item.date | date: 'shortTime' }}</p>
      <p [ngSwitch]="item.status">
        <span *ngSwitchCase="0">{{ 'lateCheckOut.created' | translate }}</span>
        <span *ngSwitchCase="1">{{ 'lateCheckOut.notAccepted' | translate }}</span>
        <span *ngSwitchCase="2">{{ 'lateCheckOut.accepted' | translate }}Accepted</span>
      </p>
    </div>
  </div>

  <div marcoFooter class="late__marco-body">
    <contler-create-late></contler-create-late>
  </div>
</contler-marco>
