<contler-marco [backUrl]="'/home/my-inmediate-requests'">
  <div class="main-container" marcoBody>
    <img src="assets/img/logo-hotel-temp.png" class="request__hotel-logo" />
    <p class="title" [style]="getColorHotel()">Solicitud inmediata</p>
    <ng-container *ngIf="request">
      <form>
        <div class="two-inputs">
          <mat-form-field appearance="fill">
            <input matInput [value]="request.created_at | date: 'dd/MM/yyyy'" name="created_at_date" readonly />
            <mat-hint>Fecha solicitud</mat-hint>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <input matInput [value]="request.created_at | date: 'HH:mm'" name="created_at_time" readonly />
            <mat-hint>Hora solicitud</mat-hint>
          </mat-form-field>
        </div>
        <mat-form-field appearance="fill">
          <input matInput [value]="request.zoneName" name="zoneName" readonly />
          <mat-hint>Zona</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <input matInput [value]="request.message" name="message" readonly />
          <mat-hint>Necesita</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <input matInput [value]="request.employerName" name="employerName" readonly />
          <mat-hint>Empleado encargado</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <input matInput [value]="request.finished_at ? 'Cumplida' : 'Pendiente'" name="finished_at" readonly />
          <mat-hint>Estado de la solicitud</mat-hint>
        </mat-form-field>
        <div class="score-container">
          <contler-score [score]="request.score" (value)="request.score = $event"></contler-score>
        </div>
        <mat-form-field appearance="fill" class="full-width">
          <textarea
            matInput
            cdkTextareaAutosize
            [(ngModel)]="request.scoreComments"
            name="scoreComments"
            required
          ></textarea>
          <mat-hint>Cuéntanos un poco más</mat-hint>
        </mat-form-field>
        <button
          [loading]="loader"
          [disabled]="loader"
          class="full-width custom-button"
          mat-raised-button
          contlerButton
          color="accent"
          (click)="saveRequest()"
          [style]="getButtonColorHotel()"
        >
          ACTUALIZAR
        </button>
      </form>
    </ng-container>
  </div>
</contler-marco>
