@import 'styles/variables';
@import 'styles/mixin';

.request__hotel-logo {
  display: block;
  margin: 0 auto;
}

p.title {
  font-family: $family;
  font-size: 20.2px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.25px;
  text-align: center;
  margin-top: 38px;
  margin-bottom: 36px;
}

.two-inputs {
  display: grid;
  grid-template-columns: calc(50% - 8px) calc(50% - 8px);
  column-gap: 16px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 26px;
}

.score-container {
  margin-bottom: 39px;
}

.btn-styles {
  height: 55px;
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: $family;
  font-size: 14.2px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: 1.25px;
  border-radius: 11px;
  color: #ffffff;
}
