<contler-marco [backUrl]="'/home/my-inmediate-requests'">
  <div class="main-container" marcoBody>
    <p class="p-title" [style]="getColorHotel()">Immediate request</p>
    <ng-container *ngIf="request">
      <form>
        <div class="two-inputs">
          <mat-form-field appearance="fill" class="full-field">
            <input
              matInput
              [value]="request.createAt | date: 'dd/MM/yyyy'"
              name="created_at_date"
              readonly
            />
            <mat-hint>Date od request</mat-hint>
          </mat-form-field>
          <mat-form-field appearance="fill" class="full-field">
            <input
              matInput
              [value]="request.createAt | date: 'HH:mm'"
              name="created_at_time"
              readonly
            />
            <mat-hint>Hour of request</mat-hint>
          </mat-form-field>
        </div>
        <mat-form-field appearance="fill">
          <input matInput [value]="request.zone.name" name="zoneName" readonly />
          <mat-hint>Area</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <input matInput [value]="request.message" name="message" readonly />
          <mat-hint>Needing</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <input matInput [value]="request.solved?.name" name="employerName" readonly />
          <mat-hint>Employee in charge</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <input
            matInput
            [value]="request.complete ? 'Cumplida' : 'Pendiente'"
            name="finished_at"
            readonly
          />
          <mat-hint>Request status</mat-hint>
        </mat-form-field>
        <div class="score-container">
          <contler-score [score]="request.score" (value)="request.score = $event"></contler-score>
        </div>
        <mat-form-field appearance="fill" class="full-width">
          <textarea
            matInput
            cdkTextareaAutosize
            [(ngModel)]="request.comment"
            name="scoreComments"
            required
          ></textarea>
          <mat-hint>Please, tell us more</mat-hint>
        </mat-form-field>
        <button
          [loading]="loader"
          [disabled]="loader || request.complete"
          mat-raised-button
          contlerButton
          style="margin-left: 5%"
          contlerColorBtnHotel="primary"
          (click)="saveRequest()"
          [style]="getButtonColorHotel()"
        >
          UPDATE
        </button>
      </form>
    </ng-container>
  </div>
</contler-marco>
