<mat-toolbar color="primary" contlerBtnHotel="primary">
  <button mat-icon-button (click)="emitToggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <p *ngIf="!!tittle">{{ tittle }}</p>
  <img *ngIf="!tittle" class="cursor" src="assets/img/logo-white.svg" (click)="goToHome()" alt="contler" />
  <div style="flex-grow: 1"></div>

  <button
    mat-icon-button
    *ngIf="!notificationList.length"
    [matMenuTriggerFor]="menu"
    contlerBtnHotel="primary"
  >
    <mat-icon>notifications_active</mat-icon>
  </button>

  <button
    mat-icon-button
    *ngIf="notificationList.length"
    [matBadge]="notificationList.length + ''"
    matBadgePosition="after"
    matBadgeColor="accent"
    [matMenuTriggerFor]="menu"
    contlerBtnHotel="primary"
  >
    <mat-icon>notifications_active</mat-icon>
  </button>

  <button mat-button [matMenuTriggerFor]="menuLanguage" contlerBtnHotel="primary">
    {{ actualLanguage?.name }}
  </button>

  <mat-menu #menuLanguage="matMenu">
    <button mat-menu-item *ngFor="let lan of languages | async" (click)="changeLanguage(lan)">
      {{ lan?.name }}
    </button>
  </mat-menu>

  <mat-menu #menu="matMenu">
    <div mat-menu-item *ngFor="let item of notificationList" class="container" (click)="goToImmediate(item)">
      <mat-icon color="accent">error</mat-icon>
      <div>
        <p class="title">Nueva solicitud</p>
        <p class="data">{{ item.name }} - {{ item.zone }} - {{ item.message }}</p>
      </div>
      <mat-icon class="icon">navigate_next</mat-icon>
    </div>
  </mat-menu>
</mat-toolbar>
