<mat-sidenav-container [style.height]="maxHeight">
  <mat-sidenav mode="over" #sidenav position="end">
    <contler-sidebar></contler-sidebar>
  </mat-sidenav>

  <mat-sidenav-content class="menu">
    <mat-toolbar>
      <div class="left-container">
        <button mat-icon-button type="button" (click)="goToRoute(backUrl)" *ngIf="backUrl">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
      </div>

      <img *ngIf="logo" [src]="logo" routerLink="/home" class="logo-general" alt="logo" />

      <div class="marco__menu">
        <button mat-icon-button type="button" (click)="sidenav.toggle()" contlerColorHotel="primary">
          <mat-icon>menu</mat-icon>
        </button>
      </div>

      <ng-content select="[marcoMenu]"></ng-content>
    </mat-toolbar>

    <div [style.padding]="padding" style="overflow: scroll; background: #f4f4f4">
      <ng-content select="[marcoBody]"></ng-content>
    </div>

    <div>
      <ng-content select="[marcoFooter]"></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
