:host{
  padding-top: 56px;
  position: relative;
  display: block;
}

.mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  //flex-direction: row-reverse;
  display: flex;
  justify-content: space-between;
}

.menu {
  //padding: 16px 16px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto max-content;
}
