<mat-toolbar>
  <div class="left-container">
    <button mat-icon-button (click)="goToRoute(backUrl)" *ngIf="backUrl">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
  </div>
  <div class="right-container">
    <button mat-icon-button (click)="sidenav.toggle()" [style]="getColorHotel()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <ng-content select="[marcoMenu]"></ng-content>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="over" #sidenav position="end">
    <contler-sidebar></contler-sidebar>
  </mat-sidenav>

  <mat-sidenav-content class="menu" [style.padding]="padding">
    <ng-content select="[marcoBody]"></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
