<contler-toolbar (toggle)="sidenav.toggle()"></contler-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="over" #sidenav>
    <contler-menu></contler-menu>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="marco">
      <div class="marco__menu">
        <h1 class="cnt-title" contlerColorHotel="primary">{{ title }}</h1>
        <ng-content select="[marcoHeader]"></ng-content>
      </div>

      <mat-card>
        <ng-content select="[marcoBody]"></ng-content>
      </mat-card>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
