<form [formGroup]="changeForm" (ngSubmit)="save()">
  <contler-marco padding="20px 50px">
    <ng-container marcoBody>
      <h1 class="ctl-title" contlerColorHotel="primary">
        Do you need a currency exchange? Fill out this information.
      </h1>

      <div class="exchange__form">
        <mat-form-field appearance="fill">
          <mat-select formControlName="money">
            <mat-option *ngFor="let money of moneyOptions" [value]="money">
              {{ money }}
            </mat-option>
          </mat-select>
          <mat-hint>Currency to change</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <span matPrefix>$ &nbsp;</span>
          <input
            matInput
            type="tel"
            aria-label="money"
            formControlName="value"
            mask="separator"
            thousandSeparator="."
          />
          <mat-hint>Quantity to change</mat-hint>
        </mat-form-field>

        <p class="exchange__text">
          *If you need to confirm the exchange rate value, you can do it by coming to the reception
        </p>
      </div>
    </ng-container>

    <div marcoFooter class="exchange__footer">
      <button mat-raised-button contlerColorBtnHotel="primary" [disabled]="changeForm.invalid">
        CREATE REQUEST
      </button>
    </div>
  </contler-marco>
</form>
