<div class="modal-confirm">
  <mat-icon class="modal-confirm__check" contlerColorHotel>check_circle</mat-icon>
  <p class="modal-confirm__text">
    {{ 'modalConfirmWake.text' | translate }}
  </p>
  <button mat-stroked-button class="modal-confirm__btn" (click)="dialogRef.close()" [disabled]="load">
    {{ 'modalConfirmWake.notDone' | translate }}
  </button>
  <button
    mat-flat-button
    color="accent"
    class="modal-confirm__btn"
    contlerBtnHotel
    contlerColorHotel="primary"
    [disabled]="load"
    (click)="complete()"
  >
    {{ 'modalConfirmWake.yesItWasDone' | translate }}
  </button>
</div>
