<contler-module-layout
  [data]="{
    title: 'preferences.cleaning.name' | translate,
    icon: 'cleaning_services',
    description: 'preferences.cleaning.description' | translate,
    description2: 'preferences.cleaning.subDescription' | translate
  }"
  [redirectAction]="false"
  (next)="goToHome()"
>
  <mat-spinner class="load" *ngIf="load"></mat-spinner>
  <mat-accordion *ngIf="modules$ | async; let mod">
    <mat-expansion-panel *ngFor="let option of mod; let i = index">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ option.text | translate | ctrTranslate }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="service">
        <div>
          <span>{{ 'preferences.reception.disableText' | translate }}</span>
          <mat-slide-toggle
            contlerColorSlideToggle
            [checked]="option.active"
            (change)="changeStatus($event, i)"
          ></mat-slide-toggle>
          <span>{{ 'preferences.reception.enableText' | translate }}</span>
        </div>
        <div *ngIf="isDynamicModule(option)">
          <mat-icon contlerColorHotel="primary" class="cursor" (click)="editModule(option)">edit</mat-icon>
          <mat-icon color="warn" class="cursor" (click)="removeDynamicForm(option)">delete</mat-icon>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <span class="divider"></span>
  <button mat-raised-button contlerBtnHotel="primary" class="newOption" routerLink="service">
    {{ 'preferences.newOption' | translate }}
  </button>
</contler-module-layout>
