<div (click)="setQuickRequest()" *ngIf="option" class="features-container-item">
  <contler-icon
    [key]="option.icon"
    class="features-container-item__icon"
    *ngIf="option.text != selectedOption"
  ></contler-icon>
  <contler-icon
    [key]="option.icon"
    class="features-container-item__icon"
    contlerColorHotel="primary"
    *ngIf="option.text === selectedOption"
  ></contler-icon>
  <p class="features-container-item__name">
    {{ option.text | translate | ctrTranslate }}
  </p>
</div>
