<contler-marco
  [backUrl]="'/home/reservation/my-reservation'"
  padding="16px 16px
  0"
>
  <div marcoBody class="reservation">
    <h1 class="reservation__title" [style]="getColorHotel()">
      Your reservation in:<br />
      {{ booking?.schedule.reservation.name }}
    </h1>

    <form class="reservation__form" [formGroup]="bookingGroup">
      <mat-form-field appearance="fill" class="full-field">
        <input matInput [matDatepicker]="picker" readonly formControlName="date" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-hint>Date</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-field">
        <input type="tel" matInput mask="90" formControlName="quota" />
        <mat-hint>People</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill" class="reservation__form-complete">
        <input matInput formControlName="name" />
        <mat-hint>Reservation in behalf of</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill" class="reservation__form-complete">
        <mat-select formControlName="schedule" [compareWith]="compare">
          <mat-option *ngFor="let item of schedule" [value]="item">
            {{ item.timeInit | date: 'shortTime' }} - {{ item.timeFinish | date: 'shortTime' }}
          </mat-option>
        </mat-select>
        <mat-hint>Time slot</mat-hint>
      </mat-form-field>

      <button
        class="btn__cancel"
        mat-raised-button
        contlerButton
        [loading]="loader"
        [disabled]="loader"
        (click)="confirmCancel()"
      >
        CANCEL
      </button>

      <button
        class="btn__update"
        mat-raised-button
        contlerButton
        contlerColorBtnHotel="primary"
        [loading]="loader"
        [style]="loader || bookingGroup.invalid ? '' : getColorButtonHotel()"
        color="accent"
        [disabled]="loader || bookingGroup.invalid"
        (click)="save()"
      >
        UPDATE
      </button>
    </form>
    <p class="reservation__err">{{ error }}</p>
  </div>
</contler-marco>
