<div class="order-qualify">
  <img src="assets/img/rating.svg" alt="" class="order-qualify__img" />
  <p class="order-qualify__title">How did you think about ordering our drinks and meals</p>
  <star-rating
    value="0"
    totalstars="5"
    checkedcolor="#dfae00"
    uncheckedcolor="#6c6c6c"
    size="24px"
    (rate)="selectStart($event)"
  ></star-rating>
  <p class="order-qualify__info" *ngIf="value !== undefined">
    {{ textRate[value! - 1] }} {{ value }}/5
  </p>
  <button
    mat-raised-button
    color="accent"
    class="order-qualify__btn"
    contlerButton
    contlerColorBtnHotel="primary"
    [loading]="load"
    [disabled]="!!!value || load"
    (click)="close()"
  >
    qualify
  </button>
</div>
