<contler-toolbar [isModal]="true" (closeClick)="dialogRef.close()"></contler-toolbar>

<div class="section">
  <div class="main-container">
    <div class="main-container__title" contlerColorHotel>{{'immediateRequest.modal.title' | translate}}</div>
    <form (ngSubmit)="save()">
      <mat-form-field appearance="fill">
        <mat-select [(ngModel)]="idSelected" name="employer">
          <mat-option *ngFor="let employer of employers" [value]="employer.uid">
            {{ employer.name }} {{ employer.lastName }}
          </mat-option>
        </mat-select>
        <mat-hint>{{'immediateRequest.modal.employer' | translate}}</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-select [(ngModel)]="isFinished" name="isFinished" [disabled]="!request.active">
          <mat-option [value]="status.COMPLETED"> {{status.COMPLETED | translate}} </mat-option>
          <mat-option [value]="status.ATTENDED"> {{status.ATTENDED | translate}} </mat-option>
          <mat-option [value]="status.PROGRAMING"> {{status.PROGRAMING | translate}} </mat-option>
        </mat-select>
        <mat-hint>{{'global.STATE' | translate}}</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <input matInput [ngModel]="request.guest?.name" name="userName" readonly />
        <mat-hint>{{'global.GUEST' | translate}}</mat-hint>
      </mat-form-field>
      <div class="two-inputs">
        <mat-form-field appearance="fill">
          <input matInput [value]="request.guest?.room?.name | ctrTranslate" name="roomName" readonly />
          <mat-hint>{{'global.ROOM' | translate}}</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <input matInput [value]="request.createAt |date:'HH:mm'" name="created_at" readonly />
          <mat-hint>{{'immediateRequest.modal.timeRequest' | translate}}</mat-hint>
        </mat-form-field>
      </div>
      <mat-form-field appearance="fill">
        <input matInput [value]="request.zone?.name | ctrTranslate" name="zoneName" readonly />
        <mat-hint>{{'global.ZONE' | translate}}</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <input matInput [value]="request.message | translate | ctrTranslate" name="message" readonly />
        <mat-hint>{{'immediateRequest.modal.need' | translate}}</mat-hint>
      </mat-form-field>

      <star-rating
        *ngIf="!request.active"
        [value]="request.score"
        [totalstars]="5"
        checkedcolor="#dfae00"
        [readonly]="true"
        uncheckedcolor="#6c6c6c"
        size="24px"
        style="text-align: center; margin-bottom: 10px; display: block"
      ></star-rating>

      <button type="submit" class="custom-button" mat-raised-button contlerBtnHotel>
        {{'global.UPDATE_BTN' | translate}}
      </button>
    </form>
  </div>
</div>
