<contler-marco [backUrl]="true">
  <div marcoBody class="new-reservation">
    <h1 class="new-reservation__title" contlerColorHotel="primary">
      {{ 'createReservation.title' | translate }} {{ zoneReservation?.name | ctrTranslate }}
      <mat-icon class="new-reservation__icon">{{ zoneReservation?.icon }}</mat-icon>
    </h1>

    <form action="" [formGroup]="reservationForm" class="new-reservation__form" (ngSubmit)="saveBooking()">
      <mat-form-field appearance="fill" class="full-field">
        <input
          matInput
          [matDatepickerFilter]="filterDate"
          [matDatepicker]="picker"
          readonly
          formControlName="date"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-hint>{{ 'createReservation.date' | translate }}</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-field">
        <input type="tel" matInput mask="90" formControlName="quota" />
        <mat-hint>{{ 'createReservation.people' | translate }}</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill" class="new-reservation__form-complete">
        <input matInput formControlName="name" />
        <mat-hint>{{ 'createReservation.reservationInBehalfOf' | translate }}</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill" class="new-reservation__form-complete">
        <mat-select formControlName="schedule">
          <mat-option *ngFor="let item of schedule" [value]="item">
            {{ item.timeInit | date: 'shortTime' }} - {{ item.timeFinish | date: 'shortTime' }}
          </mat-option>
        </mat-select>
        <mat-hint>{{ 'createReservation.timeSlot' | translate }}</mat-hint>
      </mat-form-field>
      <p class="new-reservation__err new-reservation__form-complete">{{ err }}</p>
      <button
        mat-raised-button
        contlerButton
        color="accent"
        style="color: white"
        class="btn new-reservation__form-complete"
        [style]="loader || reservationForm.invalid ? '' : getColorButtonHotel()"
        [loading]="loader"
        [disabled]="loader || reservationForm.invalid"
      >
        {{ 'createReservation.createReservation' | translate }}
      </button>
    </form>
  </div>
</contler-marco>
