@import 'styles/variables';

.new-reservation {
  padding: 24px 24px 80px;
  &__logo {
    display: block;
    margin: 0 auto;
    width: 100px;
  }

  &__icon {
    position: relative;
    top: 7px;
  }

  &__title {
    font-family: Raleway;
    font-size: 16.2px;
    letter-spacing: 0.15px;
    margin: 38px 0 48px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.48;
    text-align: center;
  }

  &__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 20px;

    &-complete {
      grid-column: span 2;
    }
  }

  &__err {
    font-size: 14px;
    color: red;
    font-family: $family;
    margin: 0;
  }
}

.custom-button {
  height: 55px;
  font-family: Raleway, serif;
  font-size: 14.2px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: 0.1px;
  border-radius: 11px !important;
  color: #ffffff !important;
  position: absolute;
  bottom: 5%;
}
