<ion-header no-border>
  <div class="header">
    <div class="ion-text-center header__logo">
      <contler-logo *ngIf="user" [src]="user.hotel.logo"></contler-logo>
    </div>
    <button mat-icon-button class="header__menu" (click)="menu.toggle()">
      <mat-icon contlerColorHotel>menu</mat-icon>
    </button>
  </div>
  <mat-form-field class="booking__search">
    <input matInput [(ngModel)]="search" placeholder="{{ 'global.SEARCH' | translate }}" />
    <mat-icon matSuffix contlerColorHotel>search</mat-icon>
  </mat-form-field>
</ion-header>
<ion-content padding>
  <div class="booking__title center" contlerColorHotel>
    {{ 'pendingBooking.pendingReservationRequests' | translate }}
  </div>

  <div *ngIf="booking && booking.length === 0" class="center">
    {{ 'pendingBooking.noReservations' | translate }}
  </div>

  <mat-card *ngFor="let item of booking | bookingList: search" class="booking__table">
    <div class="booking__table-content">
      <div>
        <p class="booking__table-title">{{ item.schedule.reservation.name | ctrTranslate }}</p>
        <p *ngIf="item.guest" class="booking__table-text">
          {{ 'pendingBooking.guest' | translate }} {{ item.guest?.name + ' ' + item.guest?.lastName }}
        </p>
        <p class="booking__table-text">
          {{ item.schedule.timeInit | date: 'shortTime' }} - {{ item.quote }}
          {{ 'pendingBooking.people' | translate }}
        </p>
      </div>
      <p class="booking__table-text">{{ item.date | date: 'dd/MM/yyyy' }}</p>
      <p *ngIf="item.guest?.room" class="booking__table-text">{{ item.guest?.room.name | ctrTranslate }}</p>
    </div>
    <mat-card-actions class="booking__table-footer">
      <button
        mat-raised-button
        color="accent"
        contlerBtnHotel
        contlerColorHotel="primary"
        (click)="complete(item)"
      >
        {{ 'pendingBooking.confirm' | translate }}
      </button>
      <button mat-button (click)="cancel(item)">{{ 'pendingBooking.cancel' | translate }}</button>
    </mat-card-actions>
  </mat-card>
</ion-content>
