<h1 mat-dialog-title style="text-align: center">
  {{ 'immediateRequest.requestOf' | translate }}
  <ng-container *ngIf="data.requestStatic">
    {{ data?.requestStatic.request.type }}
  </ng-container>
  <ng-container *ngIf="data.requestDynamic">
    {{ data?.requestDynamic.nameService | ctrTranslate }}
  </ng-container>
</h1>
<div mat-dialog-content>
  <div class="container">
    <mat-form-field appearance="fill">
      <mat-hint>{{ 'immediateRequest.nameTable' | translate }}</mat-hint>
      <input matInput type="text" readonly [value]="guestName" />
    </mat-form-field>

    <mat-form-field appearance="fill" *ngIf="isRequest">
      <mat-hint>{{ 'immediateRequest.stateTable' | translate }}</mat-hint>
      <mat-select [formControl]="requestStatusForm" *ngIf="isActive">
        <mat-option *ngFor="let status of receptionStatus" [value]="status">{{
          status | translate
        }}</mat-option>
      </mat-select>
      <input type="text" readonly matInput value="Cumplida" *ngIf="!isActive" />
    </mat-form-field>

    <mat-form-field appearance="fill" *ngIf="rooName">
      <mat-hint>{{ 'immediateRequest.roomTable' | translate }}</mat-hint>
      <input matInput type="text" readonly [value]="rooName | ctrTranslate" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-hint>{{ 'immediateRequest.timeTable' | translate }}</mat-hint>
      <input matInput type="text" readonly [value]="createAt | date: 'shortTime'" />
    </mat-form-field>

    <!--    <mat-form-field appearance="fill" style="grid-column: span 2">-->
    <!--      <mat-hint>{{ 'immediateRequest.need' | translate }}</mat-hint>-->
    <!--      <input matInput type="text" readonly [value]="data?.request.comment"/>-->
    <!--    </mat-form-field>-->
  </div>
  <button mat-raised-button color="accent" class="btn-update" (click)="update()" contlerBtnHotel="primary">
    {{ 'immediateRequest.update' | translate }}
  </button>
</div>
