<form [formGroup]="formGroup" (ngSubmit)="save()">
  <contler-marco padding="20px 50px 10px" backUrl="/home/reception">
    <ng-container marcoBody>
      <h1 class="ctl-title" contlerColorHotel="primary">
        {{ 'concierge.title' | translate }}
      </h1>

      <div class="concierge__form">
        <mat-form-field appearance="fill">
          <input
            matInput
            readonly
            [matDatepicker]="picker"
            (click)="picker.open()"
            formControlName="date"
            aria-label="date"
          />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-hint>{{ 'concierge.dateForTheService' | translate }}</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <textarea
            formControlName="comment"
            matInput
            cdkAutosizeMinRows="5"
            cdkAutosizeMaxRows="10"
            cdkTextareaAutosize
            aria-label="description"
          ></textarea>
        </mat-form-field>
      </div>
    </ng-container>

    <div marcoFooter class="concierge__footer">
      <button mat-raised-button contlerColorBtnHotel="primary" [disabled]="formGroup.invalid || load">
        {{ 'concierge.createRequest' | translate }}
      </button>
    </div>
  </contler-marco>
</form>
