<ion-header no-border>
  <div class="header">
    <div class="ion-text-center header__logo">
      <contler-logo *ngIf="user" [src]="user.hotel.logo"></contler-logo>
    </div>
    <button mat-icon-button class="header__menu" (click)="menu.toggle()">
      <mat-icon contlerColorHotel="primary">menu</mat-icon>
    </button>
  </div>
  <contler-search-list class="search" (status)="filter = $event"></contler-search-list>
</ion-header>

<ion-content>
  <div style="padding: 0 40px 20px 25px">
    <p *ngIf="!totalReception" class="ion-text-center">
      {{ 'pendingReception.noRequests' | translate }}
    </p>

    <contler-dynamic-item
      *ngFor="let item of requests$ | async | dynamicFilter: filter"
      [isReady]="true"
      [item]="item"
    ></contler-dynamic-item>
  </div>
</ion-content>
