<ion-header no-border>
  <div class="header">
    <div class="ion-text-center header__logo">
      <contler-logo *ngIf="user" [src]="user.hotel.logo"></contler-logo>
    </div>
    <button mat-icon-button class="header__menu" (click)="menu.toggle()">
      <mat-icon contlerColorHotel="primary">menu</mat-icon>
    </button>
  </div>
</ion-header>

<ion-content>
  <div class="maintain">
    <div class="maintain__title center" contlerColorHotel>
      {{ 'readyMaintain.title' | translate }}
    </div>

    <div *ngIf="totalReception && totalReception === 0" class="center">
      {{ 'readyMaintain.noRequests' | translate }}
    </div>

    <contler-dynamic-item
      *ngFor="let item of dynamicReq | async"
      [isReady]="false"
      [item]="item"
    ></contler-dynamic-item>
  </div>

  <p *ngIf="!totalReception2" class="reception__text">
    {{ 'readyMaintain.noRequests' | translate }}
  </p>
</ion-content>
