<contler-toolbar (toggle)="sidenav.toggle()"></contler-toolbar>

<mat-sidenav-container class="statistics">
  <mat-sidenav mode="over" #sidenav>
    <contler-menu></contler-menu>
  </mat-sidenav>

  <div class="statistics__header">
    <h1 class="cnt-title">Calificaciones</h1>
  </div>

  <div class="statistics__general">
    <div class="statistics__general-left">
      <p class="statistics__general-data statistics__general-score-avg">{{scoreAvg | number: '1.2-2'}}</p>
      <canvas #scoreAverage width="110" height="110"></canvas>
      <p class="statistics__general-txt statistics__general-label">Calificación promedio</p>
      <p class="statistics__general-data">{{timeAvg | number: '1.2-2'}} min</p>
      <p class="statistics__general-txt" style="margin-top: 10px">Tiempo promedio</p>
    </div>
    <div>
      <canvas #bar width="110" height="40"></canvas>
    </div>
  </div>

  <div class="statistics__emp">
    <contler-card-employees *ngFor="let emp of employees" [employer]="emp"></contler-card-employees>
  </div>

</mat-sidenav-container>
