<contler-marco [home]="true" [filter]="true" padding="16px 30px" (openFilter)="openFilter()">
  <ng-container marcoBody>
    <h1 class="ctl-title" style="text-align: center" contlerColorHotel="primary">
      {{ (isComplete ? constants.complete : constants.pending) | translate }}
    </h1>
    <ng-container *ngIf="!isComplete">
      <a
        *ngFor="let item of request | async | filterSpecial: nameModule"
        [routerLink]="item.key"
        style="text-decoration: none"
      >
        <contler-request-item [request]="item"></contler-request-item>
      </a>

      <a *ngFor="let item of pendingRequests | filterRequest: nameModule" style="text-decoration: none">
        <contler-immediate-item [request]="item"></contler-immediate-item>
      </a>
    </ng-container>

    <ng-container *ngIf="isComplete">
      <contler-request-item
        [request]="item"
        *ngFor="let item of requestComplete | async | filterSpecial: nameModule"
      ></contler-request-item>
      <ng-container *ngIf="showImmediate">
        <a *ngFor="let item of completeReq" style="text-decoration: none">
          <contler-immediate-item [request]="item"></contler-immediate-item>
        </a>
      </ng-container>
    </ng-container>
  </ng-container>

  <div marcoFooter class="footer">
    <contler-switch (value)="isComplete = $event"></contler-switch>
  </div>
</contler-marco>
