<div class="modules">
  <contler-preferences-header
    title="Primero confirma los servicios que quieres ofrecer"
  ></contler-preferences-header>
  <div class="modules__list" *ngIf="hotel">
    <contler-module-card
      *ngFor="let module of hotel.specialZones"
      [module]="module"
      (enableModule)="updateModule($event)"
    ></contler-module-card>
  </div>
  <div class="modules__buttons">
    <button mat-raised-button color="accent" contlerBtnHotel="primary" (click)="goToImmediateRequestPage()">
      {{ 'preferences.continue' | translate }}
    </button>
  </div>
</div>
