<contler-marco padding="16px 30px 0" backUrl="/home/product/create">
  <div marcoBody class="confirm" *ngIf="hotel$ | async as hotel">
    <h1 class="ctl-title pto-title" contlerColorHotel="primary">
      {{ 'confirmOrder.title' | translate }}
    </h1>

    <contler-product-item
      *ngFor="let item of products$ | async"
      [product]="item.product"
      [count]="item.quantity"
      (countChange)="updateProduct(item.product, $event)"
    >
    </contler-product-item>

    <div class="confirm-footer">
      <p contlerColorHotel="primary" class="confirm-total">
        {{ 'confirmOrder.total' | translate }} {{ total$ | async | currencyCustom: hotel.currency }}
      </p>
      <button
        style="margin-left: 5%"
        contlerColorBtnHotel="primary"
        mat-raised-button
        color="accent"
        [disabled]="(total$ | async) == 0"
        (click)="nextStep()"
      >
        {{ 'confirmOrder.next' | translate }}
      </button>
    </div>
  </div>
</contler-marco>
