@import 'styles/variables';

.confirm {
  &-total {
    font-family: $family;
    font-size: 20.2px;
    font-weight: 500;
    letter-spacing: 0.25px;
    text-align: center;
    color: #006633;
    margin-bottom: 16px;
  }

  &-footer {
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 30px 30px;

    .btn-next {
      width: 100%;
      border-radius: 12px;
      height: 50px;
      font-family: $family;
      font-size: 14.2px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: 1.25px;
      text-align: center;
    }
  }
}

.pto-title {
  margin-bottom: 30px;
  margin-top: 30px;
}
