<contler-marco padding="16px 30px 127px" backUrl="/home/product/create">
  <div marcoBody>
    <h1 class="ctl-title pto-title" contlerColorHotel="primary">Confirm your order</h1>

    <contler-product-item
      *ngFor="let item of products$ | async"
      [product]="item.product"
      [count]="item.quantity"
      (countChange)="updateProduct(item.product, $event)"
    >
    </contler-product-item>

    <div class="confirm-footer">
      <p contlerColorHotel="primary" class="confirm-total">
        Total: {{ total$ | async | currency: 'cop':'COP $':'1.0-0' }}
      </p>
      <button
        contlerColorBtnHotel="primary"
        mat-raised-button
        color="accent"
        [disabled]="(total$ | async) == 0"
        (click)="nextStep()"
      >
        NEXT
      </button>
    </div>
  </div>
</contler-marco>
