<div class="item" (click)="openModal()">
  <div class="status {{ colorStatus }}" *ngIf="!isComplete"></div>
  <div class="item__text" [ngStyle]="{ 'grid-column': isComplete ? 'span 2' : '' }">
    <span class="item__text-name"> {{ item.guest.name }} {{ item.guest.lastName }} </span>
    <span class="small">{{ item.nameService | ctrTranslate }}</span>
    <span class="small"> {{ item.createAt | date: 'dd/MM/yyyy' }} </span>
    <span class="small"> {{ item.guest.hotelBooking?.room?.name | ctrTranslate }} </span>
  </div>
  <div class="small">
    {{ item.createAt | date: 'shortTime' }}
  </div>

  <mat-icon *ngIf="isReady">keyboard_arrow_right</mat-icon>
</div>
