.modules {
  &__module {
    width: 187px;
    height: 141px;
    padding: 8px 7px 0 14px;
    border-radius: 21px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.19);
    background-color: #f0f0f0;
  }
  &__buttons {
    display: flex;
    justify-content: center;
    button {
      width: 300px;
    }
  }
}
