@import 'styles/variables';
@import 'styles/mixin';

$gap-form: 10px;

.cnt-modal-guest {
  text-align: center;
  padding: 0 120px;

  &__close {
    position: absolute;
    top: 0;
    right: 0;
  }
  &__error {
    @include text(red, 12px);
    text-align: center;
    margin-top: 10px;
  }
  &__title,
  &__title-step-1 {
    @include text($text-3, 20px, 500);
    letter-spacing: 0.25px;
    margin-bottom: 53px;
    text-align: center;
  }
  &__title-step-1 {
    margin-bottom: 10px;
  }

  &__form_guest {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: $gap-form;
  }

  &__span2 {
    grid-column: span 2;
  }

  &__form_hotel {
    margin-top: $gap-form;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
  }

  &__label,
  &__label-step-1 {
    @include text($text-3, 12px);
    line-height: 1.31;
    letter-spacing: 0.4px;
    text-align: center;
    margin: 62px 0 38px;
  }
  &__label-step-1 {
    margin-top: 0;
  }
}
.search-guest {
  height: 400px;
  display: flex;
  column-gap: 20px;
  align-items: baseline;
  margin-top: 20px;
}
.cnt-title {
  margin-bottom: 20px;
}
.form-search-email {
  margin-right: 10px;
  width: 30%;
}
