<ion-header no-border>
  <div class="header">
    <div class="ion-text-center header__logo">
      <contler-logo *ngIf="user" [src]="user.hotel.logo"></contler-logo>
    </div>
    <button mat-icon-button class="header__menu" (click)="menu.toggle()">
      <mat-icon [style.color]="generalService.hotelColor">menu</mat-icon>
    </button>
  </div>
</ion-header>

<ion-content class="">
  <h1 class="statistics__title" [style.color]="generalService.hotelColor">Calificaciones por empleado</h1>
  <div class="statistics content">
    <contler-card-employees *ngFor="let employer of employees" [employer]="employer"></contler-card-employees>
  </div>
</ion-content>
