<ion-header no-border>
  <div class="header">
    <div class="ion-text-center header__logo">
      <img *ngIf="user" [src]="user.hotel.logo" class="header__img">
    </div>
    <button mat-icon-button class="header__menu" (click)="menu.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</ion-header>

<ion-content class="">
  <h1 class="statistics__title">Calificaciones por empleado</h1>
  <div class="statistics content">
    <contler-card-employees *ngFor="let employer of employees" [employer]="employer"></contler-card-employees>
  </div>
</ion-content>
