.modal {
  padding: 40px;
  &__title {
    font-family: Raleway;
    font-size: 20.2px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.25px;
    text-align: center;
    margin: 0 0 38px;
  }
  &__form {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    .double {
      grid-column: span 2;
    }
  }
}

.create {
  width: 100%;
  margin-top: 10px;
}
.close_modal {
  padding: 24px 40px 0;
}
