.modal {
  padding: 40px;
  &__form {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    .double {
      grid-column: span 2;
    }
  }
}

.create {
  width: 100%;
  margin-top: 10px;
}
