<h1 contlerColorHotel class="ctl-title">Petición de {{ data.typePetition }}</h1>

<div class="modal__form">
  <mat-form-field appearance="fill" class="double">
    <input matInput readonly [value]="data.comment" />
    <mat-hint>Necesita</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="fill" class="double">
    <mat-select [(ngModel)]="data.active">
      <mat-option [value]="false">Cumplida</mat-option>
      <mat-option [value]="true">Activa</mat-option>
    </mat-select>
    <mat-hint>Estado</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="fill" class="double">
    <input type="text" matInput [value]="data.guest.name + ' ' + data.guest.lastName" readonly />
    <mat-hint>Huésped</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="fill" class="double">
    <input type="text" matInput [value]="data.createAt | date: 'dd/MM/yyyy'" readonly />
    <mat-hint>Fecha de solicitud</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <input type="text" matInput [value]="data.guest.room?.name" readonly />
    <mat-hint>Habitación</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <input type="text" matInput [value]="data.createAt | date: 'shortTime'" readonly />
    <mat-hint>Hora de solicitud</mat-hint>
  </mat-form-field>

  <button mat-raised-button contlerBtnHotel class="double" (click)="update()">Actualizar</button>
</div>

<button mat-icon-button class="modal__close" (click)="dialogRef.close()">
  <mat-icon>close</mat-icon>
</button>
