<div class="wrapper">
  <div class="main_container">
    <img src="assets/img/logo.svg" class="logo" />
    <p class="label">
      {{ 'login.title' | translate }}
    </p>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <mat-form-field appearance="fill" class="input">
        <input matInput formControlName="email" />
        <mat-icon class="custom_icon" matSuffix>account_circle</mat-icon>
        <mat-hint>{{ 'login.form.fields.user.label' | translate }}</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="fill" class="input">
        <input type="password" matInput formControlName="pass" />
        <mat-icon class="custom_icon" matSuffix>check_circle</mat-icon>
        <mat-hint>{{ 'login.form.fields.password.label' | translate }}</mat-hint>
      </mat-form-field>
      <p class="cursor forgot_password">{{ 'login.didYouForgetYourPassword' | translate }}</p>
      <button
        class="input custom-button"
        mat-raised-button
        contlerButton
        [loading]="loader"
        [disabled]="loginForm.invalid || loader"
        color="accent"
      >
        {{ 'login.form.actions.submit' | translate }}
      </button>
      <p class="error">{{ error }}</p>
    </form>
  </div>
</div>
