<div class="wrapper">
  <div>
    <img src="assets/img/logo-white.svg" class="logo" alt="logo" />

    <div class="language">
      <button mat-button [matMenuTriggerFor]="menu">
        <span class="language__text">
          <span>{{ actualLanguage.unicode }}</span> {{ actualLanguage.code }}
          <contler-icon key="fas fa-chevron-down"></contler-icon>
        </span>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item *ngFor="let language of languages" (click)="changeLanguage(language)">
          {{ language.unicode }} {{ language.name }}
        </button>
      </mat-menu>
    </div>
  </div>

  <div class="form">
    <h1 class="title">{{ 'auth.entry' | translate }}</h1>
    <p class="label">
      {{ 'login.title' | translate }}
    </p>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <mat-form-field appearance="fill" class="input">
        <input matInput formControlName="email" />
        <mat-icon class="custom_icon" matSuffix>account_circle</mat-icon>
        <mat-hint>{{ 'login.user.label' | translate }}</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="fill" class="input">
        <input type="password" matInput formControlName="pass" />
        <mat-icon class="custom_icon" matSuffix>check_circle</mat-icon>
        <mat-hint>{{ 'login.password.label' | translate }}</mat-hint>
      </mat-form-field>
      <button mat-button class="forgot_password" type="button" (click)="forgotPassword()">
        {{ 'login.didYouForgetYourPassword' | translate }}
      </button>
      <button
        class="input custom-button"
        mat-raised-button
        contlerButton
        [loading]="loader"
        [disabled]="loginForm.invalid || loader"
        color="accent"
      >
        {{ 'login.actionsSubmit' | translate }}
      </button>
      <p class="error">{{ error }}</p>
    </form>
  </div>
</div>
