<div class="wrapper">
  <div class="main_container">
    <img src="assets/img/logo.svg" class="logo" />
    <p class="label">Ingrese con el usuario y contraseña que le brindarán al momento del checkin en el hotel</p>
    <form>
      <mat-form-field appearance="fill" class="full_width">
        <input matInput />
        <mat-icon class="custom_icon" matSuffix>account_circle</mat-icon>
        <mat-hint>Usuario</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="fill" class="full_width">
        <input type="password" matInput />
        <mat-icon class="custom_icon" matSuffix>check_circle</mat-icon>
        <mat-hint>Contraseña</mat-hint>
      </mat-form-field>
      <p class="cursor forgot_password">Olvidaste tu contraseña?</p>
      <button class="full_width custom_button" type="submit" mat-raised-button color="accent">INGRESAR</button>
    </form>
  </div>
</div>
