<contler-marco padding="20px 0" [backUrl]="true">
  <ng-container marcoBody>
    <h1 class="ctl-title maintenance__title" contlerColorHotel="primary">
      {{ 'maintenance.title' | translate }}
    </h1>
    <contler-option-grid>
      <contler-option-request
        *ngFor="let opt of options$ | async"
        [name]="opt.text"
        [icon]="opt.icon"
        [custom]="true"
        [link]="opt.link"
      ></contler-option-request>
    </contler-option-grid>
  </ng-container>
</contler-marco>
