<contler-toolbar (toggle)="sidenav.toggle()"></contler-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="over" #sidenav>
    <contler-menu></contler-menu>
  </mat-sidenav>

  <mat-sidenav-content class="cnt-zone">
    <div class="container">
      <div class="form_section">
        <p class="title">Zonas</p>
        <form [formGroup]="zoneGroup" (ngSubmit)="saveZone()">
          <mat-form-field appearance="fill">
            <input matInput formControlName="name" />
            <mat-hint>Nombre de la zona</mat-hint>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-select formControlName="category">
              <mat-option *ngFor="let zone of categoryZone" [value]="zone">
                {{ zone.name }}
              </mat-option>
            </mat-select>
            <mat-hint>Categoría de esta zona</mat-hint>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-select formControlName="icon">
              <mat-option *ngFor="let icon of icons" [value]="icon">
                <mat-icon>{{ icon }}</mat-icon>
              </mat-option>
            </mat-select>
            <mat-hint>Selecciona un icono</mat-hint>
          </mat-form-field>

          <mat-checkbox formControlName="principal">Zona destacada (podrás elegir máximo 4 zonas)</mat-checkbox>

          <button
            mat-raised-button
            color="accent"
            contlerButton
            [loading]="load"
            [disabled]="load || zoneGroup.invalid"
          >
            CREAR ZONA
          </button>
        </form>
      </div>

      <div class="rooms_section">
        <mat-card class="crud_table">
          <div class="row">
            <div class="row_container header two_column">
              <p>Nombre zona</p>
            </div>
          </div>
          <div class="row" *ngFor="let zone of $zones | async">
            <div class="row_container two_column">
              <p>{{ zone.name }}</p>
              <div class="actions">
                <button mat-icon-button>
                  <mat-icon class="custom_icon" (click)="editZone(zone)">edit</mat-icon>
                </button>
                <button mat-icon-button>
                  <mat-icon class="custom_icon" (click)="deleteZone(zone)">delete</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
