<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <img src="assets/img/logo-white.svg" alt="" />
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="over" #sidenav>
    <contler-menu></contler-menu>
  </mat-sidenav>

  <mat-sidenav-content class="cnt-employer">
    <div class="wrapper">
      <div class="container">
        <div class="form_section">
          <p class="title">Zonas</p>
          <form #roomForm="ngForm">
            <mat-form-field appearance="fill">
              <input matInput />
              <mat-hint>Nombre de la zona</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-select>
                <mat-option [value]="1">
                  Zona 1
                </mat-option>
              </mat-select>
              <mat-hint>Categoría de esta zona</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-select>
                <mat-option [value]="1">
                  Zona 1
                </mat-option>
              </mat-select>
              <mat-hint>Selecciona un icono</mat-hint>
            </mat-form-field>
            <mat-checkbox>Zona destacada (podrás elegir máximo 4 zonas)</mat-checkbox>
            <button mat-raised-button color="accent" contlerButton>
              CREAR ZONA
            </button>
          </form>
        </div>
        <div class="rooms_section">
          <mat-card class="crud_table">
            <div class="row">
              <div class="row_container header two_column">
                <p>Nombre zona</p>
              </div>
            </div>
            <div class="row" *ngFor="let zone of [1, 2, 3, 4, 5, 6, 7]; let i = index">
              <div class="row_container two_column">
                <p>Zona {{ i + 1 }}</p>
                <div class="actions">
                  <button mat-icon-button>
                    <mat-icon class="custom_icon">edit</mat-icon>
                  </button>
                  <button mat-icon-button>
                    <mat-icon class="custom_icon">delete</mat-icon>
                  </button>
                </div>
              </div>
              <div class="subrows_container">
                <div class="row_container sub_row two_column" *ngFor="let subzone of [1, 2]; let z = index">
                  <p>Sub Zona {{ z + 1 }}</p>
                  <div class="actions">
                    <button mat-icon-button>
                      <mat-icon class="custom_icon">edit</mat-icon>
                    </button>
                    <button mat-icon-button>
                      <mat-icon class="custom_icon">delete</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
