<div class="menu">
  <h2 class="menu__title">{{ ($hotel | async)?.name }}</h2>
  <p class="menu__name">Administrador</p>

  <hr class="menu__divide" />

  <div class="menu__content">
    <div class="menu__option">
      <!-- <mat-icon
        *ngIf="section.outlined"
        [class.menu__primary]="section.primary"
        fontSet="material-icons-outlined"
        class="menu__option-icon"
      >
        {{ section.icon }}
      </mat-icon>
      <mat-icon *ngIf="!section.outlined" class="menu__option-icon" [class.menu__primary]="section.primary">
        {{ section.icon }}
      </mat-icon>
      <p class="menu__option-text">{{ section.name }}</p> -->

      <mat-list>
        <contler-menu-list-item *ngFor="let item of sections" [item]="item"></contler-menu-list-item>
      </mat-list>
    </div>

    <div class="menu__option" (click)="logOut()">
      <mat-icon class="menu__option-icon">input</mat-icon>
      <p class="menu__option-text">Cerrar sesión</p>
    </div>
  </div>
</div>
