<div class="menu">
  <p class="menu__name">{{ 'menu.admin' | translate }}</p>

  <hr class="menu__divide" />

  <div class="menu__content">
    <mat-list>
      <contler-menu-list-item
        *ngFor="let item of sections"
        [item]="item"
        routerLinkActive="select"
      ></contler-menu-list-item>
    </mat-list>

    <div class="menu__option" (click)="logOut()">
      <mat-icon class="menu__option-icon" contlerColorHotel="primary">input</mat-icon>
      <p class="menu__option-text">{{ 'menu.logout' | translate }}</p>
    </div>
  </div>
</div>
