<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom" class="home-bottom-tabs">
      <ion-tab-button
        tab="pending"
        class="home-bottom-tab"
        contlerBtnHotel
        [opacity]="82"
        [ngClass]="{'selected_button': currentPage === PAGES.PENDING}"
      >
        <ion-label>{{'immediateRequest.pending' | translate}}</ion-label>
      </ion-tab-button>
      <ion-tab-button
        tab="ready"
        class="home-bottom-tab"
        contlerBtnHotel
        [opacity]="82"
        [ngClass]="{'selected_button': currentPage === PAGES.READY}"
      >
        <ion-label>{{'immediateRequest.result' | translate}}</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
