<contler-marco [home]="true" padding="16px 30px" [filter]="true">
  <ng-container marcoFilter>
    <ng-container>
      <button mat-menu-item contlerColorBtnHotel *ngIf="select === constants.all">
        {{ constants.all | translate }}
      </button>
      <button mat-menu-item *ngIf="select !== constants.all" (click)="select = constants.all">
        {{ constants.all | translate }}
      </button>
    </ng-container>

    <ng-container *ngFor="let zone of zones">
      <button mat-menu-item contlerColorBtnHotel *ngIf="select === zone.id">
        {{ zone.name | ctrTranslate }}
      </button>
      <button mat-menu-item *ngIf="select !== zone.id" (click)="select = zone.id">
        {{ zone.name | ctrTranslate }}
      </button>
    </ng-container>
  </ng-container>

  <div marcoBody>
    <h1 class="my-reservation__title" contlerColorHotel="primary">
      {{ (isComplete ? constants.complete : constants.pending) | translate }}
    </h1>

    <div
      class="my-reservation__item"
      *ngFor="let item of isComplete ? bookingComplete : (bookings | filterReservation: select)"
      routerLink="/home/reservation/my-reservation/{{ item.id }}"
    >
      <div>
        <p class="my-reservation__item-name">
          {{ item.schedule.reservation.name | ctrTranslate }}
        </p>
        <p class="my-reservation__item-text">
          {{ item.schedule.timeInit | date: 'shortTime' }} - {{ item.quote }}
          {{ 'myReservations.people' | translate }}
        </p>
      </div>
      <p class="my-reservation__item-text">{{ item.date | date: 'dd/MM/yyyy' }}</p>
      <button mat-icon-button aria-label="Example icon-button with a heart icon">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </div>
  </div>

  <div marcoFooter class="my-reservation__footer">
    <contler-switch (value)="isComplete = $event"></contler-switch>
  </div>
</contler-marco>

<ng-template #empty>
  <div class="empty-container">
    <mat-icon class="custom_icon empty-container__icon" contlerColorHotel="second">check_circle</mat-icon>
    <p class="empty-container__label" contlerColorHotel="primary">
      {{ 'myReservations.youHaveNoReservationRequest' | translate }}
    </p>
  </div>
</ng-template>
