<div *ngIf="$guest | async; let guest" class="item" (click)="goToModal()">
  <div class="item__text">
    <span class="item__text-name"> {{ guest.name }} {{ guest.lastName }} </span>
    <span class="small"> {{ reception.type }} </span>
    <span class="small"> {{ reception.createAt | date: 'dd/MM/yyyy' }} </span>
    <span class="small"> {{ commentData }} </span>
  </div>
  <div class="small">
    {{ reception.createAt | date: 'shortTime' }}
    <p class="time">{{ reception.room?.name | ctrTranslate }}</p>
  </div>

  <mat-icon *ngIf="isReady">keyboard_arrow_right</mat-icon>
</div>
