@import 'styles/variables';
@import 'styles/mixin';

.item {
  display: grid;
  grid-template-columns: auto max-content max-content;
  column-gap: 5px;
  align-items: center;
  border-bottom: 1px solid #c8c8c8;
  padding: 16px 0 18px;
  &__text {
    display: grid;
    &-name {
      @include text($text-4, 20px);
      margin-bottom: 5px;
    }
  }
  .small {
    @include text($text-4, 12px);
  }
}
