@import "styles/variables";

button {
  margin-bottom: 20px;
  width: 100%;
  text-transform: uppercase;
}

:host {
  text-align: center;
  display: block;
}

.icon {
  color: #8cc640;
  font-size: 50px;
  margin-bottom: 40px;
  width: 50px;
  height: 50px;
}

.text {
  width: 283px;
  font-family: $family;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.15px;
  text-align: center;
  color: #0b0807;
  margin: 0 auto 20px;
}
