<contler-toolbar (toggle)="sidenav.toggle()"></contler-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="over" #sidenav>
    <contler-menu></contler-menu>
  </mat-sidenav>

  <mat-sidenav-content class="cnt-wake">
    <div class="cnt-wake__header">
      <h1 class="cnt-title" contlerColorHotel="primary">{{ 'menu.wakeUpCalls' | translate }}</h1>
      <mat-form-field appearance="fill" class="select">
        <mat-select [(ngModel)]="filter" (ngModelChange)="changeWakeView($event)">
          <mat-option *ngFor="let option of filters" [value]="option.value">
            {{ option.name | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" class="select">
        <input
          matInput
          placeholder="{{ 'global.SEARCH' | translate }}"
          (input)="textFilter($event.target['value'])"
        />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>

    <table mat-table [dataSource]="dataSource" class="cnt-wake__table">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>{{ 'wakeUp.nameGuest' | translate }}</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="wakeCall">
        <th mat-header-cell *matHeaderCellDef>{{ 'wakeUp.callTo' | translate }}</th>
        <td mat-cell *matCellDef="let element">{{ element.wakeCall }}</td>
      </ng-container>

      <ng-container matColumnDef="room">
        <th mat-header-cell *matHeaderCellDef>{{ 'wakeUp.room' | translate }}</th>
        <td mat-cell *matCellDef="let element">{{ element.room }}</td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>{{ 'wakeUp.dateCall' | translate }}</th>
        <td mat-cell *matCellDef="let element">{{ element.date }}</td>
      </ng-container>

      <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef>{{ 'wakeUp.timeCall' | translate }}</th>
        <td mat-cell *matCellDef="let element">{{ element.time }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 40, 100]" showFirstLastButtons></mat-paginator>
  </mat-sidenav-content>
</mat-sidenav-container>
