<ion-header no-border>
  <div class="header">
    <div class="ion-text-center header__logo">
      <img *ngIf="user" [src]="user.hotel.logo" class="header__img">
    </div>
    <button mat-icon-button class="header__menu" (click)="menu.toggle()">
      <mat-icon [style.color]="generalService.hotelColor">menu</mat-icon>
    </button>
  </div>
</ion-header>


<ion-content>
  <div class="main-container">
    <div class="search-container" *ngIf="searchRequestsEnabled">
      <contler-searchbar [placeholder]="'Qué buscas'" (value)="searchRequests($event)"></contler-searchbar>
      <ng-container *ngIf="requestsResults.length">
        <div class="item" *ngFor="let request of requestsResults" (click)="goToRequest(request)">
          <div class="item__info-container">
            <p class="username">{{request.guest.name}}</p>
            <p class="zone">{{request.message}}</p>
          </div>
          <div class="item__data-container">
            <p class="time">{{request.room.name}}</p>
            <button mat-icon-button>
              <mat-icon class="custom_icon">keyboard_arrow_right</mat-icon>
            </button>
          </div>
        </div>
      </ng-container>
      <ng-template #emptyResults>
        <p class="empty-label" *ngIf="requestsResults.length == 0">
          No hay resultados para esta búsqueda
        </p>
      </ng-template>
    </div>
    <ng-container *ngIf="!searchRequestsEnabled">
      <p class="main-container__title" [style.color]="generalService.hotelColor">Solicitudes especiales pasadas</p>
      <div class="list-container">
        <ng-container *ngIf="requests.length else empty">
          <div class="item" *ngFor="let request of requests">
            <div class="item__info-container">
              <p class="username">{{request.guest.name}}</p>
              <p class="zone">{{request.message}}</p>
            </div>
            <div class="item__data-container">
              <p class="time">{{request.room.name}}</p>
              <button mat-icon-button (click)="goToRequest(request)">
                <mat-icon class="custom_icon">keyboard_arrow_right</mat-icon>
              </button>
            </div>
          </div>
        </ng-container>
        <ng-template #empty>
          <div class="empty-container">
            <mat-icon class="custom_icon empty-container__icon">check_circle</mat-icon>
            <p class="empty-container__label" [style.color]="generalService.hotelColor">
              No tienes ninguna solicitud especial de los huéspedes
            </p>
          </div>
        </ng-template>
      </div>
    </ng-container>
  </div>
</ion-content>
