<contler-marco-admin title="Producto">
  <ng-container marcoHeader>
    <button mat-raised-button (click)="deleteProduct()" contlerButton [loading]="load">
      {{ 'product.deleteBtn' | translate }}
    </button>
    <button
      mat-raised-button
      color="accent"
      [disabled]="productForm?.invalid || load"
      contlerButton
      [loading]="load"
      (click)="updateProduct()"
    >
      {{ 'product.updateBtn' | translate }}
    </button>
  </ng-container>

  <div marcoBody class="edit-product">
    <form *ngIf="productForm" [formGroup]="productForm" class="edit-product__form">
      <mat-form-field appearance="fill">
        <input type="text" matInput formControlName="name" (ngModelChange)="product.name = $event" />
        <mat-hint>{{ 'product.name' | translate }}</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <input
          type="text"
          matInput
          formControlName="value"
          (ngModelChange)="product.value = $event"
          currencyMask
          [options]="{ precision: 0, align: 'left' }"
        />
        <mat-hint>{{ 'product.value' | translate }}</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-select formControlName="state" (ngModelChange)="product.state = $event">
          <mat-option [value]="true">{{ 'product.edit.active' | translate }}</mat-option>
          <mat-option [value]="false">{{ 'product.edit.inactive' | translate }}</mat-option>
        </mat-select>
        <mat-hint>{{ 'product.state' | translate }}</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full">
        <input
          type="text"
          matInput
          formControlName="description"
          (ngModelChange)="product.description = $event"
        />
        <mat-hint>{{ 'product.description' | translate }}</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-select
          placeholder="{{ 'product.restaurant' | translate }}"
          formControlName="restaurant"
          (valueChange)="updateCategories($event)"
          [compareWith]="compareRestaurant"
          (ngModelChange)="product.restaurant = $event"
        >
          <mat-option *ngFor="let restaurant of restaurants$ | async" [value]="restaurant">
            {{ restaurant.name }}
          </mat-option>
        </mat-select>
        <mat-hint>{{ 'product.restaurant' | translate }}</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-select formControlName="category" (ngModelChange)="product.category = $event">
          <mat-option *ngFor="let category of categories$ | async" [value]="category.uid">
            {{ category.name }}
          </mat-option>
        </mat-select>
        <mat-hint>{{ 'product.category' | translate }}</mat-hint>
      </mat-form-field>
    </form>

    <div>
      <contler-product-item [product]="product"></contler-product-item>
      <mat-error>{{ error }}</mat-error>
    </div>
  </div>
</contler-marco-admin>
