<contler-marco padding="16px 0 0" backUrl="/home/product">
  <div marcoBody>
    <h1 class="ctl-title" contlerColorHotel="primary">Elige lo que quieres pedir</h1>

    <mat-accordion>
      <mat-expansion-panel *ngFor="let restaurant of restaurant$ | async">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span contlerColorHotel="primary">
              {{ restaurant.name }}
            </span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-container *ngFor="let category of categories[restaurant.uid] | async">
          <h2 contlerColorHotel="primary" style="text-align: center">{{ category.name }}</h2>
          <contler-product-item
            *ngFor="let prod of getProductsByCategory(restaurant.products, category.uid)"
            [product]="prod"
            (countChange)="updateProduct(prod, $event)"
          ></contler-product-item>
        </ng-container>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div marcoFooter class="product-footer">
    <button contlerColorBtnHotel="primary" mat-raised-button color="accent" (click)="nextStep()">
      Siguiente
    </button>
    <mat-error class="product-error">{{ error }}</mat-error>
  </div>
</contler-marco>
