<button mat-icon-button class="content__close" (click)="close()">
  <mat-icon>close</mat-icon>
</button>

<p class="title">{{ 'employer.modal.title' | translate }}</p>

<form [formGroup]="formEmployer" (ngSubmit)="createEmployer()">
  <div class="content">
    <mat-form-field appearance="fill" class="content__2-columns">
      <input matInput formControlName="name" />
      <mat-icon matSuffix>account_circle</mat-icon>
      <mat-hint>{{ 'employer.modal.name' | translate }}</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill" class="content__2-columns">
      <mat-select formControlName="leader">
        <mat-option [value]="true">{{ 'employer.modal.yesOption' | translate }}</mat-option>
        <mat-option [value]="false">{{ 'employer.modal.noOption' | translate }}</mat-option>
      </mat-select>
      <mat-hint>{{ 'employer.leaderOption' | translate }}</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill" class="content__2-columns">
      <input matInput formControlName="lastName" />
      <mat-icon matSuffix>account_circle</mat-icon>
      <mat-hint>{{ 'employer.modal.lastName' | translate }}</mat-hint>
    </mat-form-field>

    <div class="content__2-columns content__zone content__3-row">
      <p class="content__zone-text">{{ 'employer.modal.leaderZone' | translate }}</p>
      <contler-zone-list
        [$zones]="$zone"
        (selected)="leaderZone = $event"
        [(specialZones)]="specialZones"
      ></contler-zone-list>
    </div>

    <mat-form-field appearance="fill" class="content__2-columns">
      <input matInput formControlName="email" />
      <mat-icon matSuffix>account_circle</mat-icon>
      <mat-hint>{{ 'global.EMAIL' | translate }}</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill" class="content__2-columns">
      <input matInput formControlName="pass" />
      <mat-icon matSuffix>check_circle</mat-icon>
      <mat-hint>{{ 'global.PASSWORD' | translate }}</mat-hint>
    </mat-form-field>
  </div>
  <button
    mat-raised-button
    color="accent"
    contlerButton
    [loading]="loading"
    [disabled]="loading || formEmployer.invalid"
  >
    {{ 'employer.modal.create' | translate }}
  </button>
</form>
