@import 'styles/variables';
@import 'styles/material';

.order {
  &-footer {
    background: rgb(244, 244, 244);
    &__btn {
      display: grid;
      grid-template-columns: 1fr 1fr;
      height: 60px;
      margin-top: 20px;

      .select {
        border-bottom-color: transparent !important;
        background: transparent !important;
      }
    }
  }
  &__make {
    padding: 0 40px;
    box-sizing: border-box;
  }
}
