<contler-marco padding="16px 40px">
  <ng-container marcoBody>
    <h1 class="ctl-title" contlerColorHotel="primary">My orders</h1>

    <contler-order-item
      *ngFor="let order of order$ | async | activeOrder: pending"
      [order]="order"
      (click)="goToOrder(order)"
    ></contler-order-item>
  </ng-container>

  <div class="order-footer" marcoFooter>
    <div style="padding: 0 40px; box-sizing: border-box">
      <button
        mat-raised-button
        color="accent"
        contlerColorBtnHotel="primary"
        routerLink="/home/product/create"
        style="width: 100%"
      >
        Make a new order
      </button>
    </div>

    <div class="order-footer__btn">
      <button mat-button disableRipple contlerBtnMenuHotel [select]="pending" (click)="pending = true">
        In process
      </button>
      <button mat-button disableRipple contlerBtnMenuHotel [select]="!pending" (click)="pending = false">
        Accomplished
      </button>
    </div>
  </div>
</contler-marco>
