.order {
  &-footer {
    &__btn {
      display: grid;
      grid-template-columns: 1fr 1fr;
      height: 75px;
      margin-top: 20px;

      .select {
        border-bottom-color: transparent !important;
        background: transparent !important;
      }
    }
  }
}
