<contler-marco padding="16px 30px" backUrl="/home/product/order">
  <div marcoBody>
    <h1 class="ctl-title pto-title" contlerColorHotel="primary">
      {{ 'finishOrder.title' | translate }}
    </h1>

    <div class="finish-order__list">
      <p class="finish-order__list-text" style="margin-bottom: 20px">
        {{ 'finishOrder.orderSummaryIn' | translate }}
      </p>
      <div class="finish-order__list-products">
        <ng-template ngFor let-item [ngForOf]="products$ | async">
          <p class="finish-order__list-text">{{ item.product.name | ctrTranslate }}</p>
          <p class="finish-order__list-text">
            {{ item.quantity * item.product.value | currencyCustom: hotel.currency }}
          </p>
        </ng-template>
      </div>
    </div>

    <p contlerColorHotel="primary" class="finish-order__total">
      {{ 'finishOrder.total' | translate }} {{ totalPrice$ | async | currencyCustom: hotel.currency }}
    </p>
    <p class="order_note" *ngIf="hotel.orderText">{{ hotel.orderText | ctrTranslate }}</p>
    <form class="finish-order__form" [formGroup]="orderForm" (ngSubmit)="createOrder()">
      <mat-form-field appearance="fill">
        <mat-select formControlName="time">
          <mat-option [value]="actualTime">{{ 'finishOrder.immediately' | translate }}</mat-option>
          <mat-option *ngFor="let dat of time; let i = index" [value]="dat">
            {{ dat | date: 'shortTime' }}
          </mat-option>
        </mat-select>
        <mat-hint>{{ 'finishOrder.selectYourHourOfDelivery' | translate }}</mat-hint>
        <mat-icon matSuffix>query_builder</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-select formControlName="zone">
          <mat-option *ngFor="let zone of zones$ | async" [value]="zone">{{
            zone.name | ctrTranslate
          }}</mat-option>
        </mat-select>
        <mat-hint>{{ 'finishOrder.whereDoYouWantToReceiveIt' | translate }}</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <textarea
          formControlName="comment"
          matInput
          placeholder="{{ 'finishOrder.orderRemarks' | translate }}"
        ></textarea>
      </mat-form-field>

      <button
        mat-raised-button
        contlerColorBtnHotel="primary"
        [disabled]="orderForm.invalid || loading"
        contlerButton
        [loading]="loading"
      >
        {{ 'finishOrder.order' | translate }}
      </button>
    </form>
  </div>
</contler-marco>
