<contler-marco padding="16px 30px" backUrl="/home/product/order">
  <div marcoBody>
    <h1 class="ctl-title" contlerColorHotel="primary">Confirma tu pedido y hora de entrega</h1>

    <div class="finish-order__list">
      <p class="finish-order__list-text" style="margin-bottom: 20px">Resumen del pedido:</p>
      <div class="finish-order__list-products">
        <ng-template ngFor let-item [ngForOf]="productList">
          <p class="finish-order__list-text">{{item.product.name}}</p>
          <p class="finish-order__list-text">{{(item.quantity * item.product.value) | currency: 'COP': '$': '1.0-0'}}</p>
        </ng-template>
      </div>
    </div>

    <p contlerColorHotel="primary" class="finish-order__total">Total: {{total | currency: 'COP': '$': '1.0-0'}}</p>

    <form class="finish-order__form" [formGroup]="orderForm" (ngSubmit)="createOrder()">
      <mat-form-field appearance="fill">
        <mat-select formControlName="time">
          <mat-option *ngFor="let _ of time; let i = index" [value]="getHour(i)">
            {{getHour(i) | date: 'shortTime'}}
          </mat-option>
        </mat-select>
        <mat-hint>Hora a la que queires recibirlo</mat-hint>
        <mat-icon matSuffix>query_builder</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-select formControlName="zone">
          <mat-option *ngFor="let zone of zones$ | async" [value]="zone">{{zone.name}}</mat-option>
        </mat-select>
        <mat-hint>Dónde quieres recibirlo</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <textarea formControlName="comment" matInput placeholder="Obervaciones de tu pedido:"></textarea>
      </mat-form-field>

      <button mat-raised-button contlerColorBtnHotel="primary" [disabled]="orderForm.invalid || loading" contlerButton [loading]="loading">Finalizar</button>
    </form>

  </div>
</contler-marco>
