@import 'styles/variables';
@import 'styles/material';

.finish-order {
  &__list {
    max-height: 179px;
    overflow: auto;
    margin-top: 19px;
    margin-bottom: 35px;

    &-text {
      font-family: $family;
      font-size: 14.2px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.41;
      letter-spacing: 0.25px;
      color: #191615;
      margin: 0;
    }

    &-products {
      display: grid;
      grid-template-columns: auto max-content;
      column-gap: 5px;
      row-gap: 5px;
    }
  }

  &__total {
    font-family: $family;
    font-size: 16.2px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0.15px;
    line-height: 1.48;
    text-align: center;
    font-style: normal;
  }

  &__form {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 5px;
  }
}

.pto-title {
  margin-top: 20px;
}
