<contler-toolbar (toggle)="sidenav.toggle()"></contler-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="over" #sidenav>
    <contler-menu></contler-menu>
  </mat-sidenav>

  <mat-sidenav-content class="cnt-room">
    <div class="container">
      <div class="form_section">
        <p class="title">Habitaciones</p>

        <mat-slide-toggle color="accent" [(ngModel)]="isFullRooms" class="toggle">
          {{ isFullRooms ? 'Rango de habitaciones' : 'Habitación unica' }}
        </mat-slide-toggle>

        <contler-single-room
          (completeRoomCreation)="completeSingleRoom($event)"
          *ngIf="!isFullRooms"
        ></contler-single-room>

        <contler-multi-room *ngIf="isFullRooms"></contler-multi-room>
      </div>
      <div class="rooms_section">
        <mat-card class="crud_table">
          <div class="row">
            <div class="row_container header two_column">
              <p>Habitación</p>
            </div>
          </div>
          <div class="row" *ngFor="let room of rooms">
            <div class="row_container two_column">
              <p>{{ room.name }}</p>
              <div class="actions">
                <button mat-icon-button>
                  <mat-icon class="custom_icon">edit</mat-icon>
                </button>
                <button mat-icon-button (click)="deleteRoom(room)">
                  <mat-icon class="custom_icon">delete</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
