<contler-marco backUrl="/home/reception" padding="16px 50px">
  <ng-container marcoBody>
    <h1 class="ctl-title" contlerColorHotel="primary">
      We can help you with transportation from the hotel, please fill out this information
    </h1>

    <form class="transport__form" [formGroup]="transportForm">
      <mat-form-field appearance="fill">
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="date"
          readonly
          (click)="picker.open()"
        />
        <mat-datepicker-toggle matSuffix [for]="picker" (click)="picker.open()">
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-hint>Date</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-select formControlName="departure">
          <mat-option *ngFor="let date of hoursOptions" [value]="date">{{
            date | date: 'HH:mm'
          }}</mat-option>
        </mat-select>
        <mat-hint>Departure time</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-select formControlName="destination" (ngModelChange)="changeDestination($event)">
          <mat-option *ngFor="let option of destinationOptions" [value]="option">
            {{ option }}
          </mat-option>
        </mat-select>
        <mat-hint>Destination</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill" *ngIf="!!placeControl">
        <input type="text" matInput aria-label="Where are you going?" formControlName="place" />
        <mat-hint>Where are you going?</mat-hint>
      </mat-form-field>
    </form>
  </ng-container>

  <div marcoFooter class="transport__footer">
    <button
      mat-raised-button
      contlerButton
      contlerColorBtnHotel="primary"
      [disabled]="transportForm.invalid"
    >
      CREATE REQUEST
    </button>
  </div>
</contler-marco>
