<contler-toolbar (toggle)="sidenav.toggle()"></contler-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="over" #sidenav>
    <contler-menu></contler-menu>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="product">
      <div class="product__menu">
        <h1 class="cnt-title">{{ 'product.title' | translate }}</h1>
        <button mat-raised-button color="accent" (click)="openCreateProductModel()">
          {{ 'product.createBtn' | translate }}
        </button>
        <mat-form-field appearance="fill" class="select">
          <mat-select [(ngModel)]="filter" (ngModelChange)="changeProductState($event)">
            <mat-option *ngFor="let option of filters" [value]="option.value">
              {{ option.name | translate }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <input
            type="text"
            matInput
            placeholder="{{ 'global.SEARCH' | translate }}..."
            (input)="textFilter($event.target['value'])"
          />
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>

      <table mat-table [dataSource]="dataSource" style="width: 100%">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>{{ 'product.name' | translate }}</th>
          <td mat-cell *matCellDef="let element">{{ element.name | ctrTranslate }}</td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef>{{ 'product.description' | translate }}</th>
          <td mat-cell *matCellDef="let element">{{ element.description | ctrTranslate }}</td>
        </ng-container>

        <ng-container matColumnDef="value">
          <th mat-header-cell *matHeaderCellDef>{{ 'product.value' | translate }}</th>
          <td mat-cell *matCellDef="let element">
            {{ element.value | currency: 'cop':'$':'1.0-0' }}
          </td>
        </ng-container>

        <ng-container matColumnDef="restaurant">
          <th mat-header-cell *matHeaderCellDef>{{ 'product.restaurant' | translate }}</th>
          <td mat-cell *matCellDef="let element">{{ element.restaurant?.name | ctrTranslate }}</td>
        </ng-container>

        <ng-container matColumnDef="state">
          <th mat-header-cell *matHeaderCellDef>{{ 'product.state' | translate }}</th>
          <td mat-cell *matCellDef="let element">
            <mat-slide-toggle [checked]="element.state" disabled></mat-slide-toggle>
            <button mat-icon-button (click)="goToProduct(element)">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
