<ion-header no-border>
  <div class="header">
    <div class="ion-text-center header__logo">
      <contler-logo *ngIf="user" [src]="user.hotel.logo"></contler-logo>
    </div>
    <button mat-icon-button class="header__menu" (click)="menu.toggle()">
      <mat-icon contlerColorHotel>menu</mat-icon>
    </button>
  </div>
  <mat-form-field class="booking__search">
    <input matInput [(ngModel)]="search" placeholder="{{ 'readyBooking.search' | translate }}" />
    <mat-icon matSuffix contlerColorHotel>search</mat-icon>
  </mat-form-field>
</ion-header>
<ion-content padding>
  <div class="booking__title center" contlerColorHotel>
    {{ 'readyBooking.resolvedReservationRequests' | translate }}
  </div>

  <div *ngIf="booking && booking.length === 0" class="center">
    {{ 'readyBooking.noReservations' | translate }}
  </div>

  <mat-card *ngFor="let item of booking | bookingList: search" class="booking__table">
    <div class="booking__table-content">
      <div>
        <p class="booking__table-title">{{ item.schedule.reservation.name }}</p>
        <p *ngIf="item.guest" class="booking__table-text">
          {{ 'readyBooking.guest' | translate }} {{ item.guest?.name + ' ' + item.guest?.lastName }}
        </p>
        <p class="booking__table-text">
          {{ item.schedule.timeInit | date: 'shortTime' }} - {{ item.quote }}
          {{ 'readyBooking.people' | translate }}
        </p>
        <p class="booking__table-text" *ngIf="!item.active && !item.complete">
          <span class="booking__table__cancel_color">{{ 'readyBooking.cancelled' | translate }}</span>
        </p>
        <p class="booking__table-text" *ngIf="item.complete && item.active">
          <span class="booking__table__confirm_color">{{ 'readyBooking.confirmed' | translate }} </span>
        </p>
      </div>
      <p class="booking__table-text">{{ item.date | date: 'dd/MM/yyyy' }}</p>
      <p *ngIf="item.guest?.room" class="booking__table-text">{{ item.guest?.room.name }}</p>
    </div>
  </mat-card>
</ion-content>
