<div class="cnt-qualify">
  <img src="assets/img/rating.svg" alt="" class="cnt-qualify__img" />
  <p class="cnt-qualify__title">
    {{ 'modalBookingQualifyComponent.title' | translate }}
    {{ data.schedule.reservation.name | ctrTranslate }}
    {{ 'modalBookingQualifyComponent.thatDay' | translate }} {{ data.date | date: 'dd/MM/yyyy' }}?
  </p>
  <contler-start
    [value]="0"
    [totalstars]="5"
    checkedcolor="#dfae00"
    uncheckedcolor="#6c6c6c"
    size="24px"
    (rate)="selectStart($event)"
  ></contler-start>
  <p class="cnt-qualify__info" *ngIf="value !== undefined">
    {{ textRate[value - 1] | translate }} {{ value }}/5
  </p>
  <button
    mat-raised-button
    color="accent"
    class="cnt-qualify__btn"
    contlerButton
    contlerColorBtnHotel="primary"
    [loading]="load"
    [disabled]="!!!value || load"
    (click)="close()"
  >
    {{ 'modalBookingQualifyComponent.qualify' | translate }}
  </button>
</div>
