.reception {
  &__title {
    margin: 0 0 50px;
    padding: 0 16px;
    text-align: center;
  }

  &__content {
    display: flex;
    padding: 0 16px;
    gap: 18px;
    flex-wrap: wrap;
    justify-content: center;
  }
}
