<contler-toolbar
  style="padding: 10px 30px 0px"
  [isModal]="true"
  (closeClick)="modalController.dismiss()"
></contler-toolbar>
<ion-content>
  <div class="section">
    <div class="ion-text-center header__logo">
      <contler-logo
        *ngIf="employer"
        (click)="modalController.dismiss()"
        [src]="employer.hotel.logo"
      ></contler-logo>
    </div>
    <div class="main-container">
      <div class="main-container__title" [style.color]="generalService.hotelColor">
        {{'specialRequest.title' | translate}}
      </div>
      <form (ngSubmit)="save()">
        <!-- USER -->
        <mat-form-field appearance="fill">
          <input matInput [ngModel]="request.guest.name" name="userName" readonly />
          <mat-hint>{{'global.GUEST' | translate}}</mat-hint>
        </mat-form-field>

        <!-- ROOM - CREATED_AT -->
        <div class="two-inputs">
          <mat-form-field appearance="fill">
            <input matInput [value]="request.room.name | ctrTranslate" name="roomName" readonly />
            <mat-hint>{{'global.ROOM' | translate}}</mat-hint>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <input matInput [value]="request.createAt|date:'HH:mm'" name="created_at" readonly />
            <mat-hint>{{'global.TIME_REQUEST' | translate}}</mat-hint>
          </mat-form-field>
        </div>

        <!-- MESSAGE -->
        <mat-form-field appearance="fill">
          <textarea
            matInput
            cdkTextareaAutosize
            [ngModel]="request.message"
            name="description"
            readonly
          ></textarea>
          <mat-hint>{{"global.NEED" | translate}}</mat-hint>
        </mat-form-field>

        <!-- CHECK IN - CHECKOUT -->
        <div class="two-inputs">
          <mat-form-field appearance="fill">
            <input matInput [value]="request.guest.checkIn|date:'dd/MM/yyyy'" name="checkIn" readonly />
            <mat-hint>{{'specialRequest.dateInit' | translate}}</mat-hint>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <input matInput [value]="request.guest.checkOut|date:'dd/MM/yyyy'" name="checkOut" readonly />
            <mat-hint>{{'specialRequest.dateEnd' | translate }}</mat-hint>
          </mat-form-field>
        </div>

        <!-- EMPLOYERS -->
        <mat-form-field appearance="fill">
          <mat-select [(ngModel)]="employerId" name="employer">
            <mat-option *ngFor="let employer of employers" [value]="employer.uid">
              {{ employer.name }} {{ employer.lastName }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- STATUS -->
        <mat-form-field appearance="fill">
          <mat-select [(ngModel)]="request.complete" name="isFinished">
            <mat-option [value]="false"> {{'global.PENDING' | translate}} </mat-option>
            <mat-option [value]="true"> {{'global.COMPLETE' | translate}} </mat-option>
          </mat-select>
          <mat-hint>{{'global.STATE' | translate}}</mat-hint>
        </mat-form-field>

        <button
          type="submit"
          class="custom-button"
          mat-raised-button
          [style.background-color]="generalService.hotelColor"
        >
          {{'global.UPDATE_BTN' | translate}}
        </button>
      </form>
    </div>
  </div>
</ion-content>
