<contler-marco padding="0" [backUrl]="true">
  <div class="my-room-container" marcoBody>
    <p class="my-room-container__label" contlerColorHotel="primary">
      {{ 'myRoom.youAreAtYourRoom' | translate }} <br />
      {{ 'myRoom.whatDoYouNeed' | translate }}
    </p>

    <contler-option-grid>
      <contler-option-request
        *ngFor="let opt of modules$ | async"
        [name]="opt.text"
        [icon]="opt.icon"
        [custom]="true"
        (click)="selectOption(opt)"
      ></contler-option-request>
    </contler-option-grid>

    <div class="my-room-container__button">
      <button
        (click)="saveRequest()"
        [disabled]="loader || buttonDisabled()"
        [loading]="loader"
        color="accent"
        contlerButton
        contlerColorBtnHotel="primary"
        mat-raised-button
      >
        {{ 'myRoom.createRequest' | translate }}
      </button>
    </div>
  </div>
</contler-marco>
