<contler-marco padding="0" [backUrl]="'/home/guest-requests'">
  <div class="my-room-container" marcoBody>
    <p class="my-room-container__label" contlerColorHotel="primary">
      {{ 'myRoom.youAreAtYourRoom' | translate }} <br />
      {{ 'myRoom.whatDoYouNeed' | translate }}
    </p>

    <div class="features-container" *ngIf="modules$ | async as modules">
      <ng-container *ngFor="let option of modules">
        <ng-container *ngIf="option.text === 'zoneRequest.categories.roomKeys' && zone">
          <contler-room-item
            class="features-container-item"
            [option]="option"
            [selectedOption]="selectedSubcategory"
            (clickedOption)="setQuickRequest($event)"
          ></contler-room-item>
        </ng-container>
        <ng-container *ngIf="option.text !== 'zoneRequest.categories.roomKeys'">
          <contler-room-item
            class="features-container-item"
            [option]="option"
            [selectedOption]="selectedSubcategory"
            (clickedOption)="setQuickRequest($event)"
          ></contler-room-item>
        </ng-container>
      </ng-container>
    </div>
    <div class="my-room-container__button">
      <button
        (click)="saveRequest()"
        [disabled]="loader || buttonDisabled()"
        [loading]="loader"
        color="accent"
        contlerButton
        contlerColorBtnHotel="primary"
        mat-raised-button
      >
        {{ 'myRoom.createRequest' | translate }}
      </button>
    </div>
  </div>
</contler-marco>
