<contler-marco padding="0" [backUrl]="'/home/guest-requests'">
  <div class="my-room-container" marcoBody>
    <p class="my-room-container__label" contlerColorHotel="primary">
      {{ 'myRoom.youAreAtYourRoom' | translate }} <br />
      {{ 'myRoom.whatDoYouNeed' | translate }}
    </p>

    <div class="features-container" *ngIf="modules$ | async as modules">
      <contler-room-item
        class="features-container-item"
        *ngFor="let option of modules"
        [option]="option"
        [selectedOption]="selectedSubcategory"
        (clickedOption)="setQuickRequest($event)"
      ></contler-room-item>
    </div>
    <button
      (click)="saveRequest()"
      [disabled]="loader || buttonDisabled()"
      [loading]="loader"
      class="my-room-container__button"
      color="accent"
      contlerButton
      contlerColorBtnHotel="primary"
      mat-raised-button
    >
      {{ 'myRoom.createRequest' | translate }}
    </button>
  </div>
</contler-marco>
