<ion-header no-border>
  <div class="header">
    <div class="ion-text-center header__logo">
      <contler-logo *ngIf="user" [src]="user.hotel.logo"></contler-logo>
    </div>
    <button mat-icon-button class="header__menu" (click)="menu.toggle()">
      <mat-icon [style.color]="generalService.hotelColor">menu</mat-icon>
    </button>
  </div>
</ion-header>

<ion-content padding="16px">
  <h1 class="order__title" [style.color]="generalService.hotelColor">Pedidos</h1>

  <contler-item
    *ngFor="let item of orders"
    [order]="item"
    routerLink="/home/order/{{ item.id }}"
  ></contler-item>
</ion-content>
