<h1 matDialogTitle class="cnt-title" contlerColorHotel="primary">{{ 'product.new.title' | translate }}</h1>
<form matDialogContent class="modal-form" [formGroup]="productForm" (ngSubmit)="createProduct()">
  <mat-form-field appearance="fill">
    <input type="text" placeholder="Nombre" matInput formControlName="name" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <input
      type="text"
      matInput
      placeholder="{{ 'product.value' | translate }}"
      currencyMask
      formControlName="value"
      [options]="{ precision: 0, thousands: '.', decimal: ',' }"
    />
  </mat-form-field>

  <mat-form-field appearance="fill" class="full">
    <input
      type="text"
      matInput
      placeholder="{{ 'product.description' | translate }}"
      formControlName="description"
      maxlength="20"
    />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-select
      placeholder="{{ 'product.restaurant' | translate }}"
      formControlName="restaurant"
      (valueChange)="updateCategories($event)"
    >
      <mat-option *ngFor="let restaurant of restaurants$ | async" [value]="restaurant">
        {{ restaurant.name | ctrTranslate }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-select placeholder="{{ 'product.category' | translate }}" formControlName="category">
      <mat-option *ngFor="let category of categories$ | async" [value]="category.uid">
        {{ category.name | ctrTranslate }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-card class="modal-preview">
    <mat-card-title>{{ 'product.new.preview' | translate }}</mat-card-title>
    <mat-card-content>
      <contler-product-item [product]="product" [hotel]="auth.$hotel | async"></contler-product-item>
    </mat-card-content>
  </mat-card>

  <button
    mat-raised-button
    color="accent"
    [disabled]="productForm.invalid || loading"
    contlerButton
    [loading]="loading"
    contlerBtnHotel="primary"
  >
    {{ 'product.new.create' | translate }}
  </button>
</form>

<button mat-icon-button class="modal-close" (click)="dialogRef.close()">
  <mat-icon>close</mat-icon>
</button>
