<div class="card-emp" *ngIf="employer">
  <div class="card-emp__data">
    <div>
      <p class="card-emp__title">{{ employer.name }} {{ employer.lastName }}</p>
      <div class="card-emp__statistic">
        <p class="card-emp__statistic-txt">{{ 'cardEmployees.averageTime' | translate }}</p>
        <p class="card-emp__statistic-txt">{{ employer.avgTime }}</p>
        <p class="card-emp__statistic-txt">{{ 'cardEmployees.numberOfServices' | translate }}</p>
        <p class="card-emp__statistic-txt">{{ employer.totalServices }}</p>
        <p class="card-emp__statistic-txt">{{ 'cardEmployees.qualification' | translate }}</p>
        <p class="card-emp__statistic-txt">{{ employer.averageScore }}</p>
      </div>
    </div>
  </div>
</div>
