<contler-marco backUrl="home/product" padding="16px 40px">
  <ng-container marcoBody>
    <p class="detail-id">{{ 'orderDetail.idOrder' | translate }} {{ order?.id }}</p>

    <h1 class="ctl-title" contlerColorHotel="primary">
      {{ order?.guest.name }} <br />
      {{ order?.guest.room.name | ctrTranslate }} - {{ order?.time | date: 'shortTime' }}
    </h1>

    <contler-product-item
      [disable]="true"
      *ngFor="let item of order?.productsOrder"
      [product]="item.product"
      [count]="item.quantity"
    >
    </contler-product-item>

    <p contlerColorHotel="primary" class="detail-total">
      {{ 'orderDetail.total' | translate }} {{ total | currency: 'COP':'COP $':'1.0-0' }}
    </p>
    <p class="detail-comment" *ngIf="order?.comment">
      {{ 'orderDetail.comments' | translate }} {{ order?.comment }}
    </p>

    <div class="detail-extra">
      <mat-form-field appearance="fill">
        <input type="text" readonly matInput [value]="status[order?.state]" />
        <mat-hint>{{ 'orderDetail.orderStatus' | translate }}</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <input type="text" readonly matInput [value]="order?.zone.name | ctrTranslate" />
        <mat-hint>{{ 'orderDetail.delivery' | translate }}</mat-hint>
      </mat-form-field>
    </div>
  </ng-container>
</contler-marco>
