<ion-header no-border>
  <div class="header">
    <div class="ion-text-center header__logo">
      <contler-logo *ngIf="user" [src]="user.hotel.logo"></contler-logo>
    </div>
    <button mat-icon-button class="header__menu" (click)="menu.toggle()">
      <mat-icon [style.color]="generalService.hotelColor">menu</mat-icon>
    </button>
  </div>
</ion-header>

<ion-content>
  <div class="reception">
    <div class="reception__title center" contlerColorHotel>
      {{ 'readyReception.title' | translate }}
    </div>

    <div *ngIf="totalReception && totalReception === 0" class="center">
      {{ 'readyReception.noRequests' | translate }}
    </div>

    <contler-reception-item *ngFor="let item of $receptionReq | async" [reception]="item" [isReady]="false">
    </contler-reception-item>
  </div>

  <p *ngIf="!totalReception" class="reception__text">{{ 'readyReception.noRequests' | translate }}</p>
</ion-content>
