<ion-header no-border>
  <div class="header">
    <div class="ion-text-center header__logo">
      <contler-logo *ngIf="user" [src]="user.hotel.logo"></contler-logo>
    </div>
    <button mat-icon-button class="header__menu" (click)="menu.toggle()">
      <mat-icon [style.color]="generalService.hotelColor">menu</mat-icon>
    </button>
  </div>
  <mat-form-field class="content__search">
    <input matInput [(ngModel)]="search" placeholder="Buscar" />
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</ion-header>

<ion-content>
  <h1 class="content__title" [style.color]="generalService.hotelColor">Wake up calls</h1>
  <div class="content__wake">
    <contler-wake
      *ngFor="let wake of wakes | async | wakeSearch: search"
      [wake]="wake"
      (clickSlide)="goToComplete(wake)"
    ></contler-wake>
  </div>
</ion-content>
