<ion-header no-border>
  <div class="header">
    <div class="ion-text-center header__logo">
      <contler-logo *ngIf="user" [src]="user.hotel.logo"></contler-logo>
    </div>
    <button mat-icon-button class="header__menu" (click)="menu.toggle()">
      <mat-icon contlerColorHotel="primary">menu</mat-icon>
    </button>
  </div>
</ion-header>

<ion-content>
  <div class="cleaning">
    <div class="cleaning__title center" contlerColorHotel>{{ 'clean.pendingTitle' | translate }}</div>

    <div *ngIf="totalReception && totalReception === 0" class="center">{{ 'clean.empty' | translate }}</div>

    <contler-reception-item
      *ngFor="let item of $receptionReq | async"
      [reception]="item"
      [isReady]="true"
      (closeModal)="modalClose($event, item.uid)"
    ></contler-reception-item>
  </div>

  <p *ngIf="!totalReception" class="reception__text">{{ 'clean.empty' | translate }}</p>
</ion-content>
