<ion-header no-border>
  <div class="header">
    <div class="ion-text-center header__logo">
      <contler-logo *ngIf="user" [src]="user.hotel.logo"></contler-logo>
    </div>
    <button mat-icon-button class="header__menu" (click)="menu.toggle()">
      <mat-icon contlerColorHotel="primary">menu</mat-icon>
    </button>
  </div>
  <contler-search-list class="search" (status)="filter = $event"></contler-search-list>
</ion-header>

<ion-content>
  <div class="cleaning">
    <div class="cleaning__title center" contlerColorHotel>{{ 'clean.pendingTitle' | translate }}</div>
    <contler-request-pending [module]="module" [filter]="filter"></contler-request-pending>
  </div>
</ion-content>
