.title {
  padding: 17px 0 13px 40px;
  font-family: Nunito, serif;
  font-size: 15.2px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.58;
  letter-spacing: 0.1px;
  color: rgba(0, 0, 0, 0.87);
}

.list {
  height: 61px;
  border-bottom: 1px solid #e5e5e5;
  padding: 0 41px;
  display: grid;
  grid-template-columns: auto max-content max-content;
  column-gap: 10px;
  align-items: center;
  color: #757575;

  &__text {
    font-family: Nunito, serif;
    font-size: 15.2px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.58;
    letter-spacing: 0.1px;
    color: rgba(0, 0, 0, 0.6);
    margin: 0;
  }
}
