<contler-toolbar (toggle)="sidenav.toggle()"></contler-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="over" #sidenav>
    <contler-menu></contler-menu>
  </mat-sidenav>

  <mat-sidenav-content class="cnt-zone">
    <div class="container">
      <div class="header">
        <p class="header__title">{{ 'specialRequest.title' | translate }}</p>
        <div class="buttons-container">
          <mat-form-field appearance="fill">
            <mat-select [(ngModel)]="filterByStatusSelected" (ngModelChange)="filterByStatus()">
              <mat-option [value]="requestStatus.ACTIVE">
                {{ 'immediateRequest.active' | translate }}
              </mat-option>
              <mat-option [value]="requestStatus.ALL"> {{ 'immediateRequest.all' | translate }} </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <input
              matInput
              placeholder="{{ 'immediateRequest.searchPlaceHolder' | translate }}"
              (keyup)="applyFilter($event.target['value'])"
            />
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>
      </div>
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="userName">
            <th mat-header-cell *matHeaderCellDef>{{ 'immediateRequest.nameTable' | translate }}</th>
            <td mat-cell *matCellDef="let element">{{ element.guest.name }} {{ element.guest.lastName }}</td>
          </ng-container>
          <ng-container matColumnDef="roomName">
            <th mat-header-cell *matHeaderCellDef>{{ 'immediateRequest.roomTable' | translate }}</th>
            <td mat-cell *matCellDef="let element">{{ element.room.name | ctrTranslate }}</td>
          </ng-container>
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>{{ 'specialRequest.request' | translate }}</th>
            <td mat-cell *matCellDef="let element">{{ element.message }}</td>
          </ng-container>
          <ng-container matColumnDef="checkIn">
            <th mat-header-cell *matHeaderCellDef>{{ 'specialRequest.dateInit' | translate }}</th>
            <td mat-cell *matCellDef="let element">
              {{ element.guest.checkIn | date: 'dd/MM/yyyy' }}
            </td>
          </ng-container>
          <ng-container matColumnDef="checkOut">
            <th mat-header-cell *matHeaderCellDef>{{ 'specialRequest.dateEnd' | translate }}</th>
            <td mat-cell *matCellDef="let element">
              {{ element.guest.checkOut | date: 'dd/MM/yyyy' }}
            </td>
          </ng-container>
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>{{ 'immediateRequest.stateTable' | translate }}</th>
            <td mat-cell *matCellDef="let element">
              <contler-status-icon [status]="!!element.finishAt"></contler-status-icon>
            </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>&nbsp;</th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button (click)="remove(element)">
                <mat-icon class="custom_icon">cancel</mat-icon>
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[10, 40, 100]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
